<table mat-table [dataSource]="datasource" matSort >
    <!-- ID Column -->
    <ng-container matColumnDef="CodeGF">
    <th mat-header-cell *matHeaderCellDef> Code Produit </th>
    <td mat-cell *matCellDef="let row"> {{row.codep}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="FournisseurGF">
    <th mat-header-cell *matHeaderCellDef> Fournisseur </th>
    <td mat-cell *matCellDef="let row"> {{row.fournisseur.nomf}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="MarqueGF">
    <th mat-header-cell *matHeaderCellDef> Marque </th>
    <td mat-cell *matCellDef="let row"> {{row.marque}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="TypeGF">
    <th mat-header-cell *matHeaderCellDef> Type GF </th>
    <td mat-cell *matCellDef="let row"> {{row.parametres.typegf}}</td>
    </ng-container>

     <!-- Color Column -->
    <ng-container matColumnDef="PuissanceFGF" >
    <th mat-header-cell *matHeaderCellDef> Puissance Froide [KW]</th>
    <td mat-cell *matCellDef="let row" style="padding-left:5%;"> {{row.parametres.puissancef}}</td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="ChambreGF">
    <th mat-header-cell *matHeaderCellDef> Chambre </th>
    <td mat-cell *matCellDef="let row"> {{row.parametres.utilisationchambre}}</td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="PrixGF">
    <th mat-header-cell *matHeaderCellDef> Prix DA</th>
    <td mat-cell *matCellDef="let row"  > {{row.totalprice | number:'3.1-5'}}</td>
    </ng-container>

        
     <!-- Color Column -->
    <ng-container matColumnDef="DetailsGF">
    <th mat-header-cell *matHeaderCellDef> Détails </th>
    <td mat-cell *matCellDef="let row" > <button mat-button (click)="openDialog(row)" color="primary" >Détails</button> </td>
    </ng-container>


      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

   

</table>