

<h1 mat-dialog-title>Produit {{data.result.codep}} <button  mat-button type="button" mat-dialog-close id="fermer"><mat-icon>close</mat-icon></button> </h1>

<mat-dialog-content id="container" *ngIf="!modifier">
  <mat-divider></mat-divider>

  <mat-list>
    <h2>Informations Générales</h2>
    <mat-list-item>
      <p class="title"> Type Produit : </p> &nbsp; <p class="value">{{data.result.type}}</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Type GEG : </p> &nbsp; <p class="value">{{data.result.parametres.typegeg}}</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> La marque : </p> &nbsp; <p class class="value"> {{data.result.marque}}</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Le fournisseur : </p> &nbsp; <p class="value"> {{data.result.fournisseur.nomf}}  </p>   &nbsp; &nbsp; &nbsp; 
        <button mat-icon-button class="example-icon mb-3" aria-label="Example icon-button with menu icon" type="button" (click)="openDialog2()">
          <mat-icon >visibility</mat-icon>
        </button>
    </mat-list-item>
    <mat-list-item *ngIf="AdminUser === 'procurement'">
      <p class="title"> Le Prix : </p> &nbsp; <p class class="value"> {{data.result.totalprice | number:'3.1-5'}} DA</p>
    </mat-list-item>

    <mat-list-item *ngIf="AdminUser === 'admin'">
      <p class="title"> Le Type du Prix : </p> &nbsp; <p class class="value" style="text-transform: uppercase;"> {{data.result.typeproductprice}} </p>
    </mat-list-item>

    <mat-list-item  *ngIf="AdminUser === 'admin'">
      <p class="title"> Le Prix : 
        <button type="button" (click)="ThePrice()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon *ngIf="!prix">expand_more</mat-icon>
        <mat-icon *ngIf="prix">expand_less</mat-icon>
      </button></p> &nbsp; 
    </mat-list-item>
      
    <mat-list *ngIf="prix && AdminUser === 'admin'" style="position: relative; margin-left : 20%;border-radius:2%;border:solid 0.5px #285393">
        <mat-list-item *ngIf="data.result.typeproductprice  === 'euro' ">
        <p class="sub-title"> Prix en Euro : </p> &nbsp; <p class class="value"> {{data.result.europrice | number:'3.1-5' }} €</p>
        </mat-list-item>
        <mat-list-item *ngIf="data.result.typeproductprice  === 'dollar' ">
          <p class="sub-title"> Prix en Dollar : </p> &nbsp; <p class class="value"> {{data.result.dollarprice | number:'3.1-5' }} $</p>
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Prix en Dinar : </p> &nbsp; <p class class="value"> {{data.result.dinarprice | number:'3.1-5'}} DA</p>
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Pourcentage Douane : </p> &nbsp; <p class class="value"> {{data.result.douane }}%</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Frais Douane en Dinar : </p> &nbsp; <p class class="value"> {{data.result.douaneDinar | number:'3.1-5' }} DA</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Pourcentage Frais Divers : </p> &nbsp; <p class class="value"> {{data.result.fraisdivers }}%</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Frais Divers en Dinar : </p> &nbsp; <p class class="value"> {{data.result.fraisdiversDinar | number:'3.1-5' }} DA</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Prix Total : </p> &nbsp; <p class class="value"> {{data.result.totalprice | number:'3.1-5' }} DA</p>        
        </mat-list-item>
    </mat-list>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Informations Essentielles</h2>
    <mat-list-item>
      <p class="title"> Condensation : </p> &nbsp; <p class="value"> {{data.result.parametres.condensation}} </p>
    </mat-list-item>
    <mat-list-item> 
      <p class="title"> température Extérieure :  </p> &nbsp; <p class="value"> {{data.result.parametres.tempexterieure}} C°</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> La puissance froide : </p> &nbsp; <p class="value"> {{data.result.parametres.pf}} KW </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Rendement Energitique :</p> &nbsp; <p class="value"> {{data.result.parametres.eer}} KW/KW
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.typegeg == 'reversible' ">
      <p class="title">La puissance calorifique : </p> &nbsp; <p class="value"> {{data.result.parametres.pc}} KW </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.typegeg == 'reversible' ">
      <p class="title"> Rendement Energitique :</p> &nbsp; <p class="value"> {{data.result.parametres.cop}} KW/KW</p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Compresseur & Réfrégerant</h2>
    <mat-list-item>
      <p class="title"> Type Compresseur : </p> &nbsp; <p class="value"> {{data.result.parametres.typecompresseur}} </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Nombre de Compresseur : </p> &nbsp; <p class="value"> {{data.result.parametres.nbrecompresseur}}
      </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Nombre de Circuit Frigorifique : </p> &nbsp; <p class="value">
        {{data.result.parametres.nbrecircuitfrigo}}
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Réfrégerant : </p> &nbsp; <p class="value"> {{data.result.parametres.refregerant}} </p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Condenseur</h2>
    <mat-list-item>
      <p class="title"> Ventilateur : </p> &nbsp; <p class="value"> {{data.result.parametres.ventilateur}}
      </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Débit ventilateur : </p> &nbsp; <p class="value">
        {{data.result.parametres.debitcondenseur}} m3/h</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Pression ventilateur : </p> &nbsp; <p class="value">
        {{data.result.parametres.pressioncondenseur}} Pa </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Protection Epoxy : </p> &nbsp; <p class="value">
        {{data.result.parametres.epoxycondenseur}} </p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Evaporateur</h2>
    <mat-list-item *ngIf="data.result.parametres.echangeurfrigo">
      <p class="title"> Type Echangeur Frigorifique : </p> &nbsp; <p class="value">
        {{data.result.parametres.echangeurfrigo}} </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Type Fluide : </p> &nbsp; <p class="value"> {{data.result.parametres.typefluide}} </p>
    </mat-list-item>
    <mat-list-item  *ngIf="data.result.parametres.pertecharge">
      <p class="title"> Perte Charge : </p> &nbsp;
       <p class="value"> {{data.result.parametres.pertecharge}} Pa</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Débit Fluide : </p> &nbsp; <p class="value"> {{data.result.parametres.debitfluide}} m3/h</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Température de sortie de Fluide : </p> &nbsp; <p class="value">
        {{data.result.parametres.tempfluidesortie}} C°</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Température d'entrée de Fluide : </p> &nbsp; <p class="value">
        {{data.result.parametres.tempfluideentree}} C°</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Glycol : </p> &nbsp; <p class="value"> {{data.result.parametres.glycol}}%
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Divers</h2>
    <mat-list-item *ngIf="data.result.parametres.pressostatHPBP">
      <p class="title"> Pressostat HP BP : </p> &nbsp; <p class="value"> {{data.result.parametres.pressostatHPBP}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.manoHPBP">
      <p class="title"> Mano HP BP : </p> &nbsp; <p class="value"> {{data.result.parametres.manoHPBP}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.insonorisationcompresseur">
      <p class="title"> Insonorisation compresseur : </p> &nbsp; <p class="value">
        {{data.result.parametres.insonorisationcompresseur}} </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Tropicalisation de l'équipement : </p> &nbsp; <p class="value">
        {{data.result.parametres.tropicalisationequipement}} </p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Module Hydraulique</h2>
    <mat-list-item>
      <p class="title"> Avec Module Hydraulique ? </p> &nbsp; <p class="value">
        {{data.result.parametres.modulehydraulique.avecmodulehydraulique}} </p>
    </mat-list-item>

    <mat-list-item *ngIf="data.result.parametres.modulehydraulique.avecmodulehydraulique == 'oui'">
      <p class="title"> Avec Pompe ? </p> &nbsp; <p class="value">
        {{data.result.parametres.modulehydraulique.pompe.avecpompe}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.modulehydraulique.pompe.avecpompe == 'oui'">
      <p class="title"> Forme Pompe :</p> &nbsp; <p class="value">
        {{data.result.parametres.modulehydraulique.pompe.formepompe}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.modulehydraulique.pompe.avecpompe == 'oui'">
      <p class="title"> Type Pompe : </p> &nbsp; <p class="value">
        {{data.result.parametres.modulehydraulique.pompe.typepompe}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.modulehydraulique.pompe.avecpompe == 'oui'">
      <p class="title"> Débit Pompe : </p> &nbsp; <p class="value">
        {{data.result.parametres.modulehydraulique.pompe.debitpompe}} m3/h</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.modulehydraulique.pompe.avecpompe == 'oui'">
      <p class="title"> HMT Pompe : </p> &nbsp; <p class="value">
        {{data.result.parametres.modulehydraulique.pompe.hmtpompe}} mmCE</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.modulehydraulique.avecmodulehydraulique == 'oui'">
      <p class="title"> Avec Ballon Tampon ? </p> &nbsp; <p class="value">
        {{data.result.parametres.modulehydraulique.ballontampon.avecballontampon}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.modulehydraulique.ballontampon.avecballontampon == 'oui'">
      <p class="title"> Capacité Ballon Tampon : </p> &nbsp; <p class="value">
        {{data.result.parametres.modulehydraulique.ballontampon.capaciteballontampon}} L</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.modulehydraulique.avecmodulehydraulique == 'oui'">
      <p class="title"> Avec Vase Expansion ? </p> &nbsp; <p class="value">
        {{data.result.parametres.modulehydraulique.vaseexpansion.avecvaseexpansion}}
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.modulehydraulique.vaseexpansion.avecvaseexpansion == 'oui'">
      <p class="title"> Capacité Vase Expansion :</p> &nbsp; <p class="value">
        {{data.result.parametres.modulehydraulique.vaseexpansion.capacitevaseexpansion}} L</p>
    </mat-list-item>
  </mat-list>


  <mat-divider></mat-divider>

  <mat-list>
    <h2>Alimentation Electrique</h2>
    <mat-list-item>
      <p class="title"> Tension Nominale :</p> &nbsp; <p class="value">
        [{{data.result.parametres.tensionnominale.voltage}}V -
        {{data.result.parametres.tensionnominale.phases}}Ph -
        {{data.result.parametres.tensionnominale.hertz}}Hz] </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Puissance Absorbée : </p> &nbsp; <p class="value">
        {{data.result.parametres.puissanceabsorbee}} KW</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.facteurpuissance">
      <p class="title"> Facteur Puissance : </p> &nbsp; <p class="value">
        {{data.result.parametres.facteurpuissance}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.circuitelectrique">
      <p class="title"> Circuit Electrique : </p> &nbsp; <p class="value">
        {{data.result.parametres.circuitelectrique}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.intensitenominale">
      <p class="title"> Intensité Nominale : </p> &nbsp; <p class="value">
        {{data.result.parametres.intensitenominale}} A</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.intensitemaximale">
      <p class="title"> Intensité Maximale : </p> &nbsp; <p class="value">
        {{data.result.parametres.intensitemaximale}} A</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.intensitedemmarage">
      <p class="title"> Intensité Démarrage : </p> &nbsp; <p class="value">
        {{data.result.parametres.intensitedemmarage}} A</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Armoire Electrique : </p> &nbsp; <p class="value">
        {{data.result.parametres.armoireelectrique}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.sondefonctionnement">
      <p class="title" > Sonde Fonctionnement : </p> &nbsp; <p class="value">
        {{data.result.parametres.sondefonctionnement}} </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Dialogue GTC : </p> &nbsp; <p class="value"> {{data.result.parametres.dialoguegtc}}
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.puissanceacoustique">
      <p class="title" > Puissance Acoustique : </p> &nbsp; <p class="value">
        {{data.result.parametres.puissanceacoustique}} KW</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Pression Acoustique: </p> &nbsp; <p class="value">
        {{data.result.parametres.pressionacoustique}} Pa</p>
    </mat-list-item>
  </mat-list>



  <mat-divider></mat-divider>

  <mat-list>
    <h2>Elements Suplémentaires</h2>
    <mat-list-item>
      <p class="title"> Classe Energitique : </p> &nbsp; <p class="value"> {{data.result.parametres.classenergitique}}
      </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Plot Anti Vibration : </p> &nbsp; <p class="value"> {{data.result.parametres.plotantivibration}}
      </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Certification : </p> &nbsp; <p class="value">{{data.result.parametres.certification}} </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Date de Création : </p> &nbsp; <p class="value">{{data.result.date_creation | date:'medium'}} </p>
    </mat-list-item>
  </mat-list>


</mat-dialog-content>



<!--
  The Modification form
-->
<form [formGroup]="formGroup" (ngSubmit)="valider()">
<mat-dialog-content *ngIf="modifier">
  <h2>Informations Générales</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="text" placeholder="Code Produit : " formControlName="codep" required>
        <mat-error>
          Veuillez choisir un code produit valide
        </mat-error>
        </mat-form-field>
       </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="text" placeholder="Type Produit : " formControlName="type" >
      
        </mat-form-field>
       </div>
    </mat-list-item>
  <div formGroupName="parametres">
    <mat-list-item>
      <div class="row mt-2">
          <mat-label style="color : #283593" >Type GEG :</mat-label> &nbsp;&nbsp;
          <mat-radio-group formControlName="typegeg">
            <mat-radio-button  value="froid seul">Froid Seul</mat-radio-button>&nbsp;
            <mat-radio-button value="reversible">Reversible </mat-radio-button> 
          </mat-radio-group>
      </div>
    </mat-list-item>
  </div>
    <mat-list-item class="mt-2">
     <div formGroupName="fournisseur" class="col">
        <mat-form-field appearance="fill" style="width:auto;height:auto;color:#283593">
          <mat-label>Le Fournisseur</mat-label>
          <mat-select formControlName="id" (selectionChange)="fournisseurchoisis()" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let fourni of fournisseurs" [value]="fourni.id">
              {{fourni.nomf}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formGroup.value.fournisseur.id">Veuillez choisir un fournisseur</mat-error>
        </mat-form-field>
        </div>
      <div  class="col">
      <mat-form-field appearance="fill" class="col" style="width:auto;height:auto;color:#283593" >
          <mat-label>La Marque</mat-label>
          <mat-select formControlName="marque" (selectionChange)="marquechoisis()" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let mark of marques" [value]="mark">
              {{mark}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formGroup.value.marque">Veuillez choisir une marque</mat-error>
      </mat-form-field>
      </div>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
  <div formGroupName="parametres">
  <h2>Informations Essentielles</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Condensation : </mat-label> &nbsp;&nbsp;
        <mat-radio-group formControlName="condensation" >
          <mat-radio-button  value="air">à air </mat-radio-button>&nbsp;
          <mat-radio-button value="eau">à eau </mat-radio-button> 
        </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Température Exterieur [C°] : " formControlName="tempexterieure" >
        
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Puissance Froide [KW] : " formControlName="pf" >
       
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="Rendement Energitique [KW/KW] : " formControlName="eer">
      
        </mat-form-field>
       </div>
    </mat-list-item>
    <mat-list-item *ngIf="formGroup.value.parametres.typegeg == 'reversible' ">
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Puissance Calorifique [KW]: " formControlName="pc" >
        
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="formGroup.value.parametres.typegeg == 'reversible' ">
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="Rendement Calorofique [KW/KW] : " formControlName="cop">
        
        </mat-form-field>
       </div>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <h2>Compresseur & Réfrégerant</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">

        <mat-label style="color: #283593;">Type Compresseur :  </mat-label> &nbsp; &nbsp;
        <mat-radio-group formControlName="typecompresseur">
          <mat-radio-button value="Scrool" (change)="radiocompresseurscrool()" >Scrool</mat-radio-button>&nbsp;
          <mat-radio-button value="Vis" (change)="radiocompresseurvis()" >Vis</mat-radio-button>&nbsp;
          <mat-radio-button  [checked]="compresseurautreradio" (change)="radiocompresseurautre()" >Autre</mat-radio-button>&nbsp;
        </mat-radio-group>
        
        <mat-form-field *ngIf="compresseurautreradio" class="full-width-input m-2 col w-auto">
          <input matInput type="text" placeholder="typecompresseur : " formControlName="typecompresseur" >
         
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
  
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Nombre de compresseurs : " formControlName="nbrecompresseur" >
       
        </mat-form-field>

      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">

        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Nombre de circuits frigorifiques : " formControlName="nbrecircuitfrigo" >       
        </mat-form-field>

      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
              <mat-form-field class="full-width-input m-2">
                <input matInput type="text" placeholder="Refrégirant : " formControlName="refregerant" >
               
              </mat-form-field>
      </div>
  
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
  
   
  <h2>Condenseur</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #283593;" > Ventilateur : </mat-label>  &nbsp; &nbsp;       
          <mat-radio-group formControlName="ventilateur">
          <mat-radio-button value="Helicoidal">Helicoidal</mat-radio-button>&nbsp;
          <mat-radio-button value="Centrifuge">Centrifuge</mat-radio-button> 
          </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
                
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="Débit [m3/h] : " formControlName="debitcondenseur">
       
        </mat-form-field>

        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="Pression [Pa] : " formControlName="pressioncondenseur" >
      
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="text" placeholder="Protection Epoxy : " formControlName="epoxycondenseur" >
       
          </mat-form-field>
      </div>
    </mat-list-item>
  </mat-list>
   

  <mat-divider></mat-divider>

  <h2>Evaporateur</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="text" placeholder="Type d'Echangeur Frigorifique : " formControlName="echangeurfrigo">
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Type Fluide : </mat-label>  &nbsp; &nbsp;
        <mat-radio-group formControlName="typefluide">
            <mat-radio-button  value="eaudouce" (change)="radiotypefluideeaudouce()">Eau Douce</mat-radio-button>&nbsp;
            <mat-radio-button [checked]="typefluidautreradio" (change)="radiotypefluideautre()" > Autre </mat-radio-button> 
        </mat-radio-group>

         <mat-form-field *ngIf="typefluidautreradio" class="full-width-input m-2 col w-auto">
          <input matInput type="text" placeholder="Type Fluide : " formControlName="typefluide" >
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="Perte de charge totale [Pa] : " formControlName="pertecharge">
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="Débit du fluide [m3/h] : " formControlName="debitfluide" >
    
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="Température fluide de sortie [C°] : " formControlName="tempfluidesortie" >
       
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="Température fluide à l'entrée [C°] : " formControlName="tempfluideentree" >
        
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="Glycol [%]: " formControlName="glycol" >
        
        </mat-form-field>
      </div>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>

  <h2>Divers</h2>
  <mat-list>
    <mat-list-item *ngIf="data.result.parametres.pressostatHPBP">
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Pressostat HP BP : </mat-label> &nbsp; &nbsp;
        <mat-radio-group formControlName="pressostatHPBP">
            <mat-radio-button  value="avec">Avec</mat-radio-button>&nbsp;
            <mat-radio-button value="sans">Sans</mat-radio-button> 
          </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.manoHPBP">
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Mano HP BP : </mat-label> &nbsp; &nbsp;
        <mat-radio-group formControlName="manoHPBP">
            <mat-radio-button  value="avec">Avec</mat-radio-button>&nbsp;
            <mat-radio-button value="sans">Sans</mat-radio-button> 
          </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.insonorisationcompresseur">
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Insonorisation compresseur : </mat-label> &nbsp; &nbsp;
        <mat-radio-group formControlName="insonorisationcompresseur">
            <mat-radio-button  value="avec">Avec</mat-radio-button>&nbsp;
            <mat-radio-button value="sans">Sans</mat-radio-button> 
          </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Tropicalisation de l'équipement : </mat-label> &nbsp; &nbsp;
        <mat-radio-group formControlName="tropicalisationequipement">
            <mat-radio-button  value="avec">Avec</mat-radio-button>&nbsp;
            <mat-radio-button value="sans">Sans</mat-radio-button> 
          </mat-radio-group>
      </div>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
  <div formGroupName="modulehydraulique">
  <h2>Module Hydraulique</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Avec Module Hydraulique ? </mat-label> &nbsp; &nbsp;
        <mat-radio-group formControlName="avecmodulehydraulique">
            <mat-radio-button  value="oui">Oui</mat-radio-button>&nbsp;
            <mat-radio-button value="non">Non</mat-radio-button> 
          </mat-radio-group>
      </div>
    </mat-list-item>
    <div formGroupName="pompe">
    <mat-list-item *ngIf="formGroup.value.parametres.modulehydraulique.avecmodulehydraulique == 'oui'">
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Avec Pompe ? </mat-label> &nbsp; &nbsp;
        <mat-radio-group formControlName="avecpompe">
            <mat-radio-button  value="oui">Oui</mat-radio-button>&nbsp;
            <mat-radio-button value="non">Non</mat-radio-button> 
          </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="formGroup.value.parametres.modulehydraulique.pompe.avecpompe == 'oui'">
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Forme Pompe : </mat-label> &nbsp; &nbsp;
        <mat-radio-group formControlName="formepompe">
        <mat-radio-button  value="horizontale">Horizontale</mat-radio-button>&nbsp;
        <mat-radio-button value="verticale">Verticale</mat-radio-button> 
        </mat-radio-group>
       
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="formGroup.value.parametres.modulehydraulique.pompe.avecpompe == 'oui'">
      <div class="row mt-2">
        <label style="color: #283593;"> Type Pompe : </label> &nbsp; &nbsp;
        <mat-radio-group formControlName="typepompe">
        <mat-radio-button  value="simple">Simple</mat-radio-button>&nbsp;
        <mat-radio-button value="double">Double</mat-radio-button> 
        </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="formGroup.value.parametres.modulehydraulique.pompe.avecpompe == 'oui'">
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="Débit Pompe [m3/h] : " formControlName="debitpompe" >
       
        </mat-form-field>
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="HMT Pompe [mmCE] : " formControlName="hmtpompe" >
      
        </mat-form-field>
        </div>
    </mat-list-item>
    </div>
    <div formGroupName="ballontampon">
    <mat-list-item *ngIf="formGroup.value.parametres.modulehydraulique.avecmodulehydraulique == 'oui'">
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Avec Ballon Tampon ? </mat-label> &nbsp; &nbsp;
         <mat-radio-group formControlName="avecballontampon">
          <mat-radio-button  value="oui">Oui</mat-radio-button>&nbsp;
          <mat-radio-button value="non">Non</mat-radio-button> 
         </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="formGroup.value.parametres.modulehydraulique.ballontampon.avecballontampon == 'oui'">
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder=" Capacite Ballon Tampon [L] :  " formControlName="capaciteballontampon" >
       
        </mat-form-field>
      </div>
    </mat-list-item>
    </div>
    <div formGroupName="vaseexpansion">
    <mat-list-item *ngIf="formGroup.value.parametres.modulehydraulique.avecmodulehydraulique == 'oui'">
      <div class="row mt-2">
        <label style="color: #283593;" > Avec Vase Expansion ? </label>
         <mat-radio-group formControlName="avecvaseexpansion">
          <mat-radio-button  value="oui">Oui</mat-radio-button>&nbsp;
          <mat-radio-button value="non">Non</mat-radio-button> 
         </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="formGroup.value.parametres.modulehydraulique.vaseexpansion.avecvaseexpansion == 'oui'">
      <div class="row mt-2">                
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="Capacite VAse Expansion [L] :  " formControlName="capacitevaseexpansion" >

        </mat-form-field>
      </div>
    </mat-list-item>
  </div>
  </mat-list>
  </div>

  <mat-divider></mat-divider>
  <h2>Alimentation Electrique</h2>
  <mat-list>
    <div formGroupName="tensionnominale">
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #283593;" class="h6 col-3 mt-2"> Tension Nominale : </mat-label>

          <mat-form-field class="full-width-input col-3">
          <input matInput type="number" placeholder="Voltage : " formControlName="voltage" >
        
          </mat-form-field>

          <mat-form-field class="full-width-input col-3">
          <input matInput type="number" placeholder="Phases : " formControlName="phases" >
        
          </mat-form-field>

          <mat-form-field class="full-width-input col-3">
          <input matInput type="number" placeholder="Hertz : " formControlName="hertz" >
        
          </mat-form-field>

        </div>
    </mat-list-item>
    </div>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="number" placeholder="Puissance Absorbée [KW] :  " formControlName="puissanceabsorbee" >

        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Facteur Puissance :  " formControlName="facteurpuissance">
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Circuit Electrique : </mat-label> &nbsp; &nbsp;
        <mat-radio-group formControlName="circuitelectrique">
          <mat-radio-button value="alimentation 1" (change)="radiocircuitelectalimenter1()">Alimentation 1</mat-radio-button>&nbsp;
          <mat-radio-button  [checked]="circuitelectautreradio" (change)="radiocircuitelectautre()">Autre</mat-radio-button> 
        </mat-radio-group>
        
        <mat-form-field *ngIf="circuitelectautreradio" class="full-width-input m-2 col w-auto">
          <input matInput type="text" placeholder="Circuit Electrique : " formControlName="circuitelectrique">
        </mat-form-field>    

      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Intensité Nominale [A] :  " formControlName="intensitenominale">
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">             
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Intensite Maximale [A] :  " formControlName="intensitemaximale">
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
            <input matInput type="number" placeholder="Intensite Demmarage [A] :  " formControlName="intensitedemmarage">
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
            <input matInput type="number" placeholder="Armoire Electrique [IP] : " formControlName="armoireelectrique" >
           
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Sonde Pour Fonctionnement : </mat-label> &nbsp; &nbsp;
         <mat-radio-group formControlName="sondefonctionnement">
          <mat-radio-button value="maitre"> Maitre </mat-radio-button>&nbsp;
          <mat-radio-button value="esclave"> Esclave </mat-radio-button> 
        </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <label style="color: #283593;">Dialogue GTC : </label>
         <mat-radio-group formControlName="dialoguegtc">
          <mat-radio-button value="avec"> Avec </mat-radio-button>&nbsp;
          <mat-radio-button value="sans"> Sans </mat-radio-button> 
        </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
             <input matInput type="number" placeholder="Puissance Acoustique [LwA] : " formControlName="puissanceacoustique">
         </mat-form-field>
       </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
            <input matInput type="number" placeholder="Pression Acoustique [LpA] : " formControlName="pressionacoustique">
          
        </mat-form-field>
      </div>
    </mat-list-item>
  </mat-list>


  <mat-divider></mat-divider>

  <h2>Elements Suplémentaires</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #283593;"> Classe Energitique : </mat-label> &nbsp; &nbsp;
        <mat-radio-group formControlName="classenergitique">
          <mat-radio-button  value="A++.A+ et A">A++.A+ et A</mat-radio-button>&nbsp;
          <mat-radio-button  value="B">B </mat-radio-button>&nbsp;
          <mat-radio-button  value="C">C</mat-radio-button>&nbsp;
          <mat-radio-button value="D à G">D à G</mat-radio-button> 
        </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #283593;" >Plot anti vibration  : </mat-label>&nbsp; &nbsp;
        <mat-radio-group formControlName="plotantivibration">
          <mat-radio-button  value="Inclus">Inclus</mat-radio-button>&nbsp;
          <mat-radio-button value="Non Inclus"> Non Inclus </mat-radio-button> 
        </mat-radio-group>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #283593;">Certification  : </mat-label>&nbsp; &nbsp;
        <mat-radio-group formControlName="certification">
          <mat-radio-button value="ISO" (change)="radiocertifiso()">ISO</mat-radio-button>&nbsp;
          <mat-radio-button  [checked]="certifautreradio" (change)="radiocertifautre()">Autre</mat-radio-button> 
        </mat-radio-group>
        <mat-form-field *ngIf="certifautreradio" class="full-width-input m-2 col w-auto">
          <input matInput type="text" placeholder="Certification : " formControlName="certification" >
        </mat-form-field>
      </div>
    </mat-list-item>
  </mat-list>

</div>

</mat-dialog-content>






<mat-dialog-actions align="end">
  <div *ngIf="!modifier && AdminUser === 'procurement'">
  <!-- <button mat-raised-button type="button" id="supprimer" (click)="supprimer()">Supprimer</button> -->
  <button mat-button type="button" id="modifier" (click)="modifiertrue()">Modifier</button>
  <button type=button mat-button id="supprimer"   (click)="openDialog()">Supprimer</button>

  </div>
  <div *ngIf="modifier && AdminUser === 'procurement'">
  <button mat-button type="submit" [mat-dialog-close]="sendmodifier" id="valider" cdkFocusInitial> Valider</button>
  <button mat-button type="button" id="annuler"  (click)="annulermodification()">Annuler</button>

  </div>
  <div *ngIf=" AdminUser === 'admin' || AdminUser === 'estimation' ">
    <button mat-button type="button" id="ok" [mat-dialog-close]="true" cdfFocusInitial> OK </button>
  </div>
</mat-dialog-actions>
</form>
