<app-nav>

<div class="m-4">
<mat-horizontal-stepper #stepper  class="m-2" id="beforedetails" >
  <mat-step [stepControl]="firstFormGroup" errorMessage="Code & Nom Fournisseur Obligatoire" (ngSubmit)="onSubmit()">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Code & Nom </ng-template>
      <div class="row">
        <mat-form-field class="full-width-input col-6" >
          <input matInput type="text" placeholder="Numéro Fournisseur" formControlName="numfournisseur" required>
          <mat-error>
            Veuillez choisir le code du Fournisseur
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input col-6" >
          <input matInput type="text" placeholder="Nom Fournisseur" formControlName="nomf"
            required>
          <mat-error>
            Veuillez choisir le Nom du Fournisseur
          </mat-error>
        </mat-form-field>
      </div>
      <div class="buttonsdiv">
        <button type="button" class="suivant" style="float:left" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" errorMessage="Informations du fournisseur Obligatoire">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Fournisseur</ng-template>
        <mat-form-field class="full-width-input col-6" >
          <input matInput type="email" placeholder="Email" formControlName="email"
            required>
          <mat-error>
            Veuillez choisir l'Email du Fournisseur 
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input col-6" >
          <input matInput type="text" placeholder="Adresse" formControlName="adresse"
            required>
          <mat-error>
            Veuillez choisir l'adresse du Fournisseur
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input col-6" >
          <input matInput
          type="text" ng2TelInput 
          (countryChange)="onCountryChangenumTel($event)"
          [ng2TelInputOptions]="{initialCountry: 'DZ'}" 
          placeholder="Numéro de Téléphone" formControlName="numtel" required/>
          <mat-error>
            Veuillez choisir le numéro de téléphone valide du Fournisseur
          </mat-error>
        </mat-form-field>
      <!--  <mat-form-field class="full-width-input col-4" >
          <input matInput
          type="text" ng2TelInput 
          (countryChange)="onCountryChangenumFix($event)"
          [ng2TelInputOptions]="{initialCountry: 'DZ'}" 
          placeholder="Numéro du Fix" formControlName="numfix"/>
        </mat-form-field>-->
        <mat-form-field class="full-width-input col-6" >
          <input matInput
          type="text" ng2TelInput 
          (countryChange)="onCountryChangenumFax($event)"
          [ng2TelInputOptions]="{initialCountry: 'DZ'}" 
          placeholder="Numéro Fax" formControlName="numfax"/>
        </mat-form-field>
      <div  class="buttonsdiv">
        <button class="retour" style="float:left" mat-button matStepperPrevious>Retour</button>
        <button class="suivant" style="float:left" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" errorMessage="Informations du Contact Obligatoire">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel> Contact</ng-template>
      <div class="row" >
        <mat-form-field class="full-width-input col-6"  >
          <input matInput type="text" placeholder="Nom Contact" formControlName="nomcontact"
            required>
          <mat-error>
            Veuillez choisir nom du Contact
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input col-6" >
          <input matInput
          type="text" ng2TelInput 
          (countryChange)="onCountryChangenumContact($event)"
          [ng2TelInputOptions]="{initialCountry: 'DZ'}" 
          placeholder="Numéro Contact" formControlName="numcontact" required/>
          <mat-error>
            Veuillez choisir un numéro de contact valide
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input col-6" >
          <input matInput type="email" placeholder="Email Contact" formControlName="emailcontact"
            required>
          <mat-error>
            Veuillez choisir l'email du Contact  
          </mat-error>
        </mat-form-field>
      </div>
      <div  class="buttonsdiv">
        <button class="retour" style="float:left" mat-button matStepperPrevious>Retour</button>
        <button class="suivant"  style="float:left" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup" errorMessage="Activité & CodeFAM Obligatoire">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Activité & CodeFAM</ng-template>
      <div class="row">
        <mat-form-field class="full-width-input col-6">
          <input matInput type="text" placeholder="Activité" formControlName="activite" required>
          <mat-error>
            Veuillez choisir l'Actitivé du Fournisseur
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input col-6">
          <input matInput type="text" placeholder="Code FAM" formControlName="codefam"
            required>
          <mat-error>
            Veuillez choisir Code FAM du Fournisseur  
          </mat-error>
        </mat-form-field>
      </div>
      <div  class="buttonsdiv">
        <button class="retour" style="float:left" mat-button matStepperPrevious>Retour</button>
        <button class="suivant" style="float:left" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fifthFormGroup" errorMessage="Informations Suplémentaires Obligatoire">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Autres</ng-template>
      <div class="row">
        <mat-form-field class="full-width-input col-6" >
          <input matInput type="text" placeholder="Conditions Réglement" formControlName="conditionreglement"
            >
          
        </mat-form-field>
        <mat-form-field  *ngIf="!knowPaiement" class="full-width-input col-6" >
          <input  matInput type="text" placeholder="Paiement" formControlName="paiement"
            required>
            <button mat-button matSuffix mat-icon-button aria-label="AnnulerPaiement" (click)="annulenewpaiement()">
              <mat-icon>close</mat-icon>
            </button>
          <mat-error>
            Veuillez choisir le type du Paiement
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="knowPaiement" class="full-width-input col-6" >
          <mat-label>Type de Paiement</mat-label>
          <mat-select formControlName="paiement" (selectionChange)="activateNewPaiement()" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let paiement of paiements" [value]="paiement">
              {{paiement}}
            </mat-option>
            <mat-option value="Autre">Autre</mat-option>
          </mat-select>
          <mat-error *ngIf="!fifthFormGroup.value.paiement">Veuillez choisir le Type de Paiement</mat-error>
        </mat-form-field>

        <mat-form-field  *ngIf="!knowGarantie" class="full-width-input col-6" >
          <input  matInput type="text" placeholder="Garantie" formControlName="garantie"
            >
            <button mat-button matSuffix mat-icon-button aria-label="AnnulerGarantie" (click)="annulenewgarantie()">
              <mat-icon>close</mat-icon>
            </button>
       
        </mat-form-field> 

        <mat-form-field *ngIf="knowGarantie" class="full-width-input col-6">
          <mat-label>Garantie</mat-label>
          <mat-select formControlName="garantie" (selectionChange)="activateNewGarantie()">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let garantie of garanties" [value]="garantie">
              {{garantie}}
            </mat-option>
            <mat-option value="Autre">Autre</mat-option>
          </mat-select>
        </mat-form-field>
       

        <div class="row col-6" [formGroup]="specialFormGroup">
          <mat-form-field class="full-width-input col-3">
            <input matInput type="number" formControlName="number">
          
          </mat-form-field>
          <mat-form-field class="full-width-input col-9" >
            <mat-label>Délai Livraison</mat-label>
            <mat-select formControlName="typedelai" >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let type of typedelais" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
        
          </mat-form-field>
        </div>
      
        </div>
      <div  class="buttonsdiv">
        <button class="retour" style="float:left" mat-button matStepperPrevious>Retour</button>
        <button class="suivant" style="float:left" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step  [stepControl]="sixthFormGroup" errorMessage="Marques Obligatoire">
    <form [formGroup]="sixthFormGroup" (ngSubmit)="onSubmit()">
    <ng-template matStepLabel>Marques</ng-template>
                  <div class="row" >
                    <mat-form-field class="example-chip-list" class="full-width-input col-8"  appearance="fill">
                      <mat-label>Marques</mat-label>
                      <mat-chip-list #chipList>
                        <mat-chip *ngFor="let mark of marques" [selectable]="selectable"
                                 [removable]="removable" (removed)="remove(mark)">
                          {{mark}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Nouvelle Marque"
                               [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               [matChipInputAddOnBlur]="addOnBlur"
                               (matChipInputTokenEnd)="add($event)"
                               >
                      </mat-chip-list>
                    </mat-form-field>
                  </div>
    
    <div  class="buttonsdiv">
      <button class="retour" style="float:left" mat-button type="button" matStepperPrevious>Retour</button>
      <button id="annuler" style="float:right" mat-button type="button" (click)="reset(stepper)" matStepperReset>Annuler</button>
      <button id="valider" style="float:right" mat-button type="submit">Sauvegarder</button>

    </div>
  </form>
  </mat-step>
</mat-horizontal-stepper>

</div>
</app-nav>