.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}

#thecomeback{
  color : #eb3b5a;
  font-size : 24px;
  margin-left : 10px;
  margin-bottom : 20px;
  margin-top : 10px;

}
#detail{
  text-align: center;
  margin-left: 10px;
}