 
#annuler{
    color : #eb3b5a;
    font-size: 16px;


}
#valider{
    color : #283593;
    font-size: 16px;

}
.suivant{
    color : #283593;
    font-size: 16px;
}
.retour{
    color : #283593;
    font-size: 16px;
}
.buttonsdiv{
    margin-left : -20px;
    margin-top:20px
}
/*::ng-deep .iti {
    width: 100%;
    height : 200px;
  }
::ng-deep .iti__country-list{
    width: 500px;
    height : 200px;
    position :absolute
  }
*/
::ng-deep .iti__flag-container ul{
    width : 300px;
    padding : 5%;
    margin : 2%;
    position: absolute;
}
::ng-deep .mat-horizontal-content-container{
    height : 300px;
}