

<h1 mat-dialog-title>Produit {{data.result.codep}} <button  mat-button type="button" mat-dialog-close id="fermer"><mat-icon>close</mat-icon></button> </h1>

<mat-dialog-content id="container" *ngIf="!modifier">
  <mat-divider></mat-divider>

  <mat-list>
    <h2>Informations Générales</h2>
    <mat-list-item>
      <p class="title"> Type Produit : </p> &nbsp; <p class="value">{{data.result.type}}</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> La marque : </p> &nbsp; <p class class="value"> {{data.result.marque}}</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Le fournisseur : </p> &nbsp; <p class="value"> {{data.result.fournisseur.nomf}}  </p>   &nbsp; &nbsp; &nbsp; 
        <button mat-icon-button class="example-icon mb-3" aria-label="Example icon-button with menu icon" type="button" (click)="openDialog2()">
          <mat-icon >visibility</mat-icon>
        </button>
    </mat-list-item>
    <mat-list-item *ngIf="AdminUser === 'procurement'">
      <p class="title"> Le Prix : </p> &nbsp; <p class class="value"> {{data.result.totalprice | number:'3.1-5'}} DA</p>
    </mat-list-item>

    <mat-list-item *ngIf="AdminUser === 'admin'">
      <p class="title"> Le Type du Prix : </p> &nbsp; <p class class="value" style="text-transform: uppercase;"> {{data.result.typeproductprice}} </p>
    </mat-list-item>

    <mat-list-item  *ngIf="AdminUser === 'admin'">
      <p class="title"> Le Prix : 
        <button type="button" (click)="ThePrice()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon *ngIf="!prix">expand_more</mat-icon>
        <mat-icon *ngIf="prix">expand_less</mat-icon>
      </button></p> &nbsp; 
    </mat-list-item>
      
    <mat-list *ngIf="prix && AdminUser === 'admin'" style="position: relative; margin-left : 20%;border-radius:2%;border:solid 0.5px #285393">
        <mat-list-item *ngIf="data.result.typeproductprice  === 'euro' ">
        <p class="sub-title"> Prix en Euro : </p> &nbsp; <p class class="value"> {{data.result.europrice | number:'3.1-5' }} €</p>
        </mat-list-item>
        <mat-list-item *ngIf="data.result.typeproductprice  === 'dollar' ">
          <p class="sub-title"> Prix en Dollar : </p> &nbsp; <p class class="value"> {{data.result.dollarprice | number:'3.1-5' }} $</p>
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Prix en Dinar : </p> &nbsp; <p class class="value"> {{data.result.dinarprice | number:'3.1-5'}} DA</p>
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Pourcentage Douane : </p> &nbsp; <p class class="value"> {{data.result.douane }}%</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Frais Douane en Dinar : </p> &nbsp; <p class class="value"> {{data.result.douaneDinar | number:'3.1-5' }} DA</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Pourcentage Frais Divers : </p> &nbsp; <p class class="value"> {{data.result.fraisdivers }}%</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Frais Divers en Dinar : </p> &nbsp; <p class class="value"> {{data.result.fraisdiversDinar | number:'3.1-5' }} DA</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Prix Total : </p> &nbsp; <p class class="value"> {{data.result.totalprice | number:'3.1-5' }} DA</p>        
        </mat-list-item>
    </mat-list>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Informations Essentielles </h2>
    <mat-list-item>
      <p class="title"> Type AP : </p> &nbsp; <p class="value"> {{data.result.parametres.typeap}} </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Soufflage : </p> &nbsp; <p class="value"> {{data.result.parametres.soufflage}} </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Type de Soufflage : </p> &nbsp; <p class="value"> {{data.result.parametres.typesoufflage}} </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Reprise : </p> &nbsp; <p class="value"> {{data.result.parametres.reprise}}</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Type Reprise : </p> &nbsp; <p class="value"> {{data.result.parametres.typereprise}}</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Préfiltration  : </p> &nbsp; <p class="value"> {{data.result.parametres.prefiltration}}</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Nombre Préfiltration : </p> &nbsp; <p class="value"> {{data.result.parametres.nombreprefiltration}} </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Filtration : </p> &nbsp; <p class="value"> {{data.result.parametres.filtration}}</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Nombre de Filtration : </p> &nbsp; <p class="value"> {{data.result.parametres.nombrefiltration}}</p>
    </mat-list-item>   
    <mat-list-item>
        <p class="title"> Perte de Charge : </p> &nbsp; <p class="value"> {{data.result.parametres.pertecharge}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.dimension">
        <p class="title"> Dimension : </p> &nbsp; <p class="value"> {{data.result.parametres.dimension }} </p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Circuit Frigorifique</h2>
    <mat-list-item>
      <p class="title"> Type du Compresseur : </p> &nbsp; <p class="value"> {{data.result.parametres.typecompresseur}} </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Nombre de Compresseur : </p> &nbsp; <p class="value"> {{data.result.parametres.nombrecompresseur}}
      </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Fluide Frigorifique: </p> &nbsp; <p class="value"> {{data.result.parametres.fluidefrigorifique}}
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Puissance Frigorifique : </p> &nbsp; <p class="value"> {{data.result.parametres.puissancefrigorifique}} KW</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Température d'Entrée d'Air : </p> &nbsp; <p class="value"> {{data.result.parametres.temperatureentreeair}} C°</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Température de Sortie d'Air : </p> &nbsp; <p class="value"> {{data.result.parametres.temperaturesortieair}} C°</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Température de Condensation : </p> &nbsp; <p class="value"> {{data.result.parametres.temperaturecondensation}} C°</p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Ventilateur</h2>
    <mat-list-item>
      <p class="title"> Nombre de Ventilateur : </p> &nbsp; <p class="value"> {{data.result.parametres.nombreventilateur}}</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Débit D'air : </p> &nbsp; <p class="value"> {{data.result.parametres.debitair}} m3/h</p>
    </mat-list-item>
    <mat-list-item> 
        <p class="title"> Pressione Statique Disponible : </p> &nbsp; <p class="value"> {{data.result.parametres.pressiondisponible}} Pa</p>
    </mat-list-item>
    <mat-list-item> 
        <p class="title"> Vitesse de Rotation : </p> &nbsp; <p class="value"> {{data.result.parametres.vitesserotation}}</p>
    </mat-list-item>
    <mat-list-item> 
        <p class="title"> Niveau Sonore : </p> &nbsp; <p class="value"> {{data.result.parametres.niveausonore}} DB (A)</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Distance Niveau Sonore : </p> &nbsp; <p class="value"> {{data.result.parametres.distanceniveausonore}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.niveaupuissancesonore">
        <p class="title"> Niveau de Puissance Sonore : </p> &nbsp; <p class="value"> {{data.result.parametres.niveaupuissancesonore}} DB (A)</p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Humidificateur</h2>
    <mat-list-item *ngIf="data.result.parametres.nombrehumidificateur" >
      <p class="title"> Nombre Humidificateur : </p> &nbsp; <p class="value"> {{data.result.parametres.nombrehumidificateur}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.puissanceabsorbeehumidificateur">
      <p class="title"> Puissance Absorbée Humidificateur : </p> &nbsp; <p class="value"> {{data.result.parametres.puissanceabsorbeehumidificateur}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.productionmaxvapeur">
      <p class="title"> Production Max de Vapeur : </p> &nbsp; <p class="value"> {{data.result.parametres.productionmaxvapeur}}</p>
    </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list>
    <h2>Circuit Electrique</h2>
    <mat-list-item>
        <p class="title"> Tension Nominale :</p> &nbsp; <p class="value">
          [{{data.result.parametres.tensionnominalevoltage}}V -
          {{data.result.parametres.tensionnominalephases}}Ph -
          {{data.result.parametres.tensionnominalehertz}}Hz] </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Puissance Electrique Absorbée : </p> &nbsp; <p class="value"> {{data.result.parametres.puissanceelectriqueabsorbee}} KW </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.courantnominal">
        <p class="title"> Courant Nominal : </p> &nbsp; <p class="value"> {{data.result.parametres.courantnominal}} A</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Dialogue GTC : </p> &nbsp; <p class="value"> {{data.result.parametres.dialoguegtc}} </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Niveau de Puissance Acoustique : </p> &nbsp; <p class="value"> {{data.result.parametres.puissanceacoustique}} LwA</p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Autres</h2>
    <mat-list-item>
      <p class="title"> Batterie de rechauffage : Puissance Absorbée : </p> &nbsp; <p class="value"> {{data.result.parametres.puissanceabsorbeebatterie}} KW </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Température extérieure : </p> &nbsp; <p class="value"> {{data.result.parametres.temperatureexterieure}} C°</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Raccordement frigorifique d'Entrée : </p> &nbsp; <p class="value"> {{data.result.parametres.raccordementfrigoentree}} mm</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Raccordement frigorifique de Sortie : </p> &nbsp; <p class="value"> {{data.result.parametres.raccordementfrigosortie}} mm</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.classenergitique">
        <p class="title"> Classe Energitique : </p> &nbsp; <p class="value"> {{data.result.parametres.classenergitique}}
        </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Plot Antivibration : </p> &nbsp; <p class="value"> {{data.result.parametres.plotantivibration}} </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Certification : </p> &nbsp; <p class="value">{{data.result.parametres.certification}} </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Date de Création : </p> &nbsp; <p class="value">{{data.result.date_creation | date:'medium'}} </p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

</mat-dialog-content>



<!--
  The Modification form
-->
<form [formGroup]="formGroup" (ngSubmit)="valider()">
<mat-dialog-content *ngIf="modifier">
  <h2>Informations Générales</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="text" placeholder="Code Produit : " formControlName="codep" required>
        <mat-error>
          Veuillez choisir un code produit valide
        </mat-error>
        </mat-form-field>
       </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="text" placeholder="Type Produit : " formControlName="type" >

        </mat-form-field>
       </div>
    </mat-list-item>
    <mat-list-item class="mt-2">
     <div formGroupName="fournisseur" class="col">
        <mat-form-field appearance="fill" style="width:auto;height:auto;color:#283593">
          <mat-label>Le Fournisseur</mat-label>
          <mat-select formControlName="id" (selectionChange)="fournisseurchoisis()" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let fourni of fournisseurs" [value]="fourni.id">
              {{fourni.nomf}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formGroup.value.fournisseur.id">Veuillez choisir un fournisseur</mat-error>
        </mat-form-field>
        </div>
      <div  class="col">
      <mat-form-field appearance="fill" class="col" style="width:auto;height:auto;color:#283593" >
          <mat-label>La Marque</mat-label>
          <mat-select formControlName="marque" (selectionChange)="marquechoisis()" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let mark of marques" [value]="mark">
              {{mark}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formGroup.value.marque">Veuillez choisir une marque</mat-error>
      </mat-form-field>
      </div>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
  <div formGroupName="parametres">
  <h2>Informations Essentielles </h2>
  <mat-list>
    <mat-list-item>
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6"> Type AP : *</mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="typeap" >
                <mat-radio-button value="Horizontale">Horizontale</mat-radio-button>&nbsp;
                <mat-radio-button value="Verticale">Verticale</mat-radio-button> 
              </mat-radio-group>&nbsp;&nbsp;&nbsp;  
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6"> Soufflage : *</mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="soufflage" >
                <mat-radio-button value="a distance">à Distance</mat-radio-button>&nbsp;
                <mat-radio-button value="en vrac">en Vrac</mat-radio-button>&nbsp;  
              </mat-radio-group>&nbsp;&nbsp;&nbsp;  
          </div>
    </mat-list-item>
    <mat-list-item  *ngIf="formGroup.value.parametres.soufflage === 'a distance'">
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6"> Type de Soufflage : *</mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="typesoufflage" >
                <mat-radio-button value="par le haut">Par le haut</mat-radio-button>&nbsp;
                <mat-radio-button value="par le bas">Par le bas</mat-radio-button>&nbsp;  
              </mat-radio-group>&nbsp;&nbsp;&nbsp;  
        </div>
    </mat-list-item>
    <mat-list-item  *ngIf="formGroup.value.parametres.soufflage === 'en vrac'">
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6"> Type de Soufflage : *</mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="typesoufflage" >
                <mat-radio-button value="Plenum frontal">Plénum frontal</mat-radio-button>&nbsp;
                <mat-radio-button value="Plenum en bas">Plénum en bas </mat-radio-button>&nbsp;  
              </mat-radio-group>&nbsp;&nbsp;&nbsp;  
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6"> Reprise : *</mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="reprise" >
                <mat-radio-button value="a distance">à Distance</mat-radio-button>&nbsp;
                <mat-radio-button value="en vrac">en Vrac</mat-radio-button>&nbsp;  
              </mat-radio-group>&nbsp;&nbsp;&nbsp;  
        </div>
    </mat-list-item>
    <mat-list-item  *ngIf="formGroup.value.parametres.reprise === 'a distance'">
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6"> Type de Reprise : *</mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="typereprise" >
                <mat-radio-button value="par le haut">Par le haut</mat-radio-button>&nbsp;
                <mat-radio-button value="par le bas">Par le bas</mat-radio-button>&nbsp;  
              </mat-radio-group>&nbsp;&nbsp;&nbsp;  
        </div>
    </mat-list-item>
    <mat-list-item  *ngIf="formGroup.value.parametres.reprise === 'en vrac'">
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6"> Type de Reprise : *</mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="typereprise" >
                <mat-radio-button value="par le haut">Par le haut</mat-radio-button>&nbsp;
                <mat-radio-button value="par le bas">Par le bas</mat-radio-button>&nbsp;  
                <mat-radio-button value="en facade">en façade</mat-radio-button>&nbsp;  
              </mat-radio-group>&nbsp;&nbsp;&nbsp;  
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input col-6">
              <input matInput type="text" oninput="this.value = this.value.toUpperCase()" placeholder="Prefiltration : " formControlName="prefiltration" >
          
            </mat-form-field>
            <mat-form-field class="full-width-input col-6">
              <input matInput type="number" placeholder="Nombre de Préfiltration : " formControlName="nombreprefiltration"
                >
              
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input col-6">
              <input matInput type="text" oninput="this.value = this.value.toUpperCase()" placeholder="Filtration : " formControlName="filtration" >
              
            </mat-form-field>
            <mat-form-field class="full-width-input col-6">
              <input matInput type="number" placeholder="Nombre de Filtration : " formControlName="nombrefiltration"
                >
             
            </mat-form-field>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Perte de Charge [Pa] : " formControlName="pertecharge" >
            </mat-form-field>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Dimension [mm] : " formControlName="dimension" >
            </mat-form-field>
        </div>
      </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <h2>Circuit Frigorifique</h2>
  <mat-list>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="text" placeholder="Type Compresseur : " formControlName="typecompresseur" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Nombre Compresseur : " formControlName="nombrecompresseur" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Fluide Frigorifique : " formControlName="fluidefrigorifique" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Puissance Frigorifique [KW] : " formControlName="puissancefrigorifique" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Température Entrée d'Air [C°] : " formControlName="temperatureentreeair" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Température Sortie d'Air  [C°] : " formControlName="temperaturesortieair" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Température de Condensation  [C°] : " formControlName="temperaturecondensation" >
            </mat-form-field>
        </div>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
  
   
  <h2>Ventilateur</h2>
  <mat-list>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Nombre de Ventilateur : " formControlName="nombreventilateur" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Débit d'Air  [m3/h] : " formControlName="debitair" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Pression Disponible [Pa] : " formControlName="pressiondisponible" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Vitesse de Rotation : " formControlName="vitesserotation" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Niveau Sonore  [DB(A)] : " formControlName="niveausonore" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Distance Niveau Sonore : " formControlName="distanceniveausonore" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Niveau Puissance Sonore [DB(A)] : " formControlName="niveaupuissancesonore" >
            </mat-form-field>
        </div>
    </mat-list-item>
  </mat-list>
   

  <mat-divider></mat-divider>

  <h2>Humidifiacteur</h2>
  <mat-list>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Nombre Humidificateur : " formControlName="nombrehumidificateur" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Puissance Absorbée : " formControlName="puissanceabsorbeehumidificateur" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Production Max de Vapeur : " formControlName="productionmaxvapeur" >
            </mat-form-field>
        </div>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>
  <mat-list>
      <h2>Circuit Electrique</h2>
    <mat-list-item>
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6 col-3 mt-4"> Tension Nominale : </mat-label>
            <mat-form-field class="full-width-input col-3">
              <input matInput type="number" placeholder="Voltage : " formControlName="tensionnominalevoltage" >
              
            </mat-form-field>
            <mat-form-field class="full-width-input col-3">
              <input matInput type="number" placeholder="Phases : " formControlName="tensionnominalephases" >
             
            </mat-form-field>
            <mat-form-field class="full-width-input col-3">
              <input matInput type="number" placeholder="Hertz : " formControlName="tensionnominalehertz" >
          
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Puissance Absorbée Max [KW] : " formControlName="puissanceelectriqueabsorbee" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Courant Nominal [A] : " formControlName="courantnominal" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6">Dialogue GTC : </mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="dialoguegtc">
                <mat-radio-button value="avec"> Avec </mat-radio-button>&nbsp;
                <mat-radio-button value="sans"> Sans </mat-radio-button>
              </mat-radio-group>&nbsp;&nbsp;&nbsp;
             
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Niveau de Puissance Acoustique [LwA] : " formControlName="puissanceacoustique" >
            </mat-form-field>
        </div>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>

  <h2>Autres</h2>
  <mat-list>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Batterie de Réchauffage : Puissance absorbée totale [kW] : " formControlName="puissanceabsorbeebatterie" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Température extérieure [C°]: " formControlName="temperatureexterieure" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Raccordement frigorifique Entrée [mm]  : " formControlName="raccordementfrigoentree" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Raccordement frigorifique Sortie [mm] : " formControlName="raccordementfrigosortie" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
          <mat-label style="color: #283593;"> Classe Energitique : </mat-label> &nbsp; &nbsp;
          <mat-radio-group formControlName="classenergitique">
            <mat-radio-button  value="A++.A+ et A">A++.A+ et A</mat-radio-button>&nbsp;
            <mat-radio-button  value="B">B </mat-radio-button>&nbsp;
            <mat-radio-button  value="C">C</mat-radio-button>&nbsp;
            <mat-radio-button value="D à G">D à G</mat-radio-button> 
          </mat-radio-group>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row mt-2">
            <mat-label style="color: #283593;">Plot anti vibration : *</mat-label>&nbsp; &nbsp;
            <div>   
              <mat-radio-group formControlName="plotantivibration">
                <mat-radio-button value="Inclus">Inclus</mat-radio-button>&nbsp;
                <mat-radio-button value="Non Inclus"> Non Inclus </mat-radio-button>
              </mat-radio-group>
            </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row mt-2">
          <mat-label style="color: #283593;">Certification  : </mat-label>&nbsp; &nbsp;
          <mat-radio-group formControlName="certification">
            <mat-radio-button value="ISO" (change)="radiocertifiso()">ISO</mat-radio-button>&nbsp;
            <mat-radio-button  [checked]="certifautreradio" (change)="radiocertifautre()">Autre</mat-radio-button> 
          </mat-radio-group>
          <mat-form-field *ngIf="certifautreradio" class="full-width-input m-2 col w-auto">
            <input matInput type="text" placeholder="Certification : " formControlName="certification">
           
          </mat-form-field>
        </div>
      </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
  
</div>

</mat-dialog-content>






<mat-dialog-actions align="end">
  <div *ngIf="!modifier && AdminUser === 'procurement'">
  <!-- <button mat-raised-button type="button" id="supprimer" (click)="supprimer()">Supprimer</button> -->
  <button mat-button type="button" id="modifier" (click)="modifiertrue()">Modifier</button>
  <button type=button mat-button id="supprimer"   (click)="openDialog()">Supprimer</button>
  </div>
  <div *ngIf="modifier && AdminUser === 'procurement'">
  <button mat-button type="submit" [mat-dialog-close]="sendmodifier" id="valider" cdkFocusInitial> Valider</button>
  <button mat-button type="button" id="annuler"  (click)="annulermodification()">Annuler</button>
  </div>
  <div *ngIf=" AdminUser === 'admin'">
    <button mat-button type="button" id="ok" [mat-dialog-close]="true" cdfFocusInitial> OK </button>
  </div>
</mat-dialog-actions>
</form>
