    
    <mat-form-field   mat-form-field style="float:right" >
        <mat-label style="color : #283593"> Recherche </mat-label>
        <input matInput (keyup)="applyFilter($event)"  placeholder="" #input> 
        </mat-form-field>
    
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort >
                <!-- ID Column -->
                <ng-container matColumnDef="CodeGF">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Produit </th>
                <td mat-cell *matCellDef="let row"> {{row.codep}} </td>
                </ng-container>
    
                <!-- Progress Column -->
                <ng-container matColumnDef="FournisseurGF">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fournisseur </th>
                <td mat-cell *matCellDef="let row"> {{row.fournisseur.nomf}} </td>
                </ng-container>
    
                <!-- Name Column -->
                <ng-container matColumnDef="MarqueGF">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Marque </th>
                <td mat-cell *matCellDef="let row"> {{row.marque}} </td>
                </ng-container>
    
                <!-- Color Column -->
                <ng-container matColumnDef="TypeGF">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type GF </th>
                <td mat-cell *matCellDef="let row"> {{row.parametres.typegf}}</td>
                </ng-container>

                 <!-- Color Column -->
                <ng-container matColumnDef="PuissanceFGF" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Puissance Froide [KW]</th>
                <td mat-cell *matCellDef="let row" style="padding-left:5%;"> {{row.parametres.puissancef}}</td>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="ChambreGF">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Chambre </th>
                <td mat-cell *matCellDef="let row"> {{row.parametres.utilisationchambre}}</td>
                </ng-container>
 
                <!-- Color Column -->
                <ng-container *ngIf="AdminUser === 'admin' " matColumnDef="TypePrixGF">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type Prix </th>
                <td mat-cell *matCellDef="let row"  > {{row.typeproductprice}}</td>
                </ng-container>
    
                <!-- Color Column -->
                <ng-container matColumnDef="PrixGF">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix DA</th>
                <td mat-cell *matCellDef="let row"  > {{row.totalprice | number:'3.1-5'}}</td>
                </ng-container>
    
                    
                 <!-- Color Column -->
                <ng-container matColumnDef="DetailsGF">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Détails </th>
                <td mat-cell *matCellDef="let row" > <button mat-button (click)="openDialog(row)" color="primary" >Détails</button> </td>
                </ng-container>
    
                <!-- Color Column -->
                <ng-container *ngIf="AdminUser === 'admin' " matColumnDef="HistoriqueGF">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Historique Prix </th>
                    <td mat-cell *matCellDef="let row" > <button mat-button (click)="openHistoriquePrix(row)" color="primary" >Historique</button> </td>
                </ng-container>
    
                 <!-- Color Column -->
                 <ng-container *ngIf="AdminUser === 'admin' " matColumnDef="AddPrixGF">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ajouter Prix </th>
                    <td mat-cell *matCellDef="let row" > <button mat-button (click)="openAddPrix(row)" color="primary" >Prix</button> </td>
                </ng-container>
    
                  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="5">La valeur "{{input.value}}" n'existe pas</td>
                </tr>
    
            </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    
        <div class="alert alert-success alert-dismissible fade show fixed-bottom" style="opacity: 85%; width:50%;margin-left:25%" *ngIf="Modif">
            {{Modif}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    
        <div class="alert alert-danger alert-dismissible fade show fixed-bottom" style="width:50%;margin-left:25%" *ngIf="Supp">
            {{Supp}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    
    
        