<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>ALFEC Estimation</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/estimation/prix/index">Prix</a>
      </mat-nav-list>
  
        
  
      <mat-nav-list>
        <a mat-list-item id="disconnect" class="example-icon" aria-label="Example icon-button with menu icon" (click)="logout()" type="submit" >
         Déconnexion  &nbsp; <mat-icon>power_settings_new</mat-icon>
        </a>
      </mat-nav-list>
  
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
           >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a class="nav-horizontale" routerLinkActive="active" mat-list-item routerLink="/estimation/prix/index">Prix</a>
         
       
        <span *ngIf="spantext.toLocaleLowerCase().includes('recherche')"> Recherche Avancée </span>
        <a id="search" routerLinkActive="active" matTooltip="Recherche Avancée" mat-list-item class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/procurement/produits/search" type="button" >
           <mat-icon class="mt-2 font-weight-bold">search</mat-icon>
        </a>
      </mat-toolbar>
      <mat-card id="contenu">
        <ng-content></ng-content>
      </mat-card>
  
    </mat-sidenav-content>
  </mat-sidenav-container>
  