

<h1 mat-dialog-title>Produit {{data.result.codep}} <button  mat-button type="button" mat-dialog-close id="fermer"><mat-icon>close</mat-icon></button> </h1>

<mat-dialog-content id="container" *ngIf="!modifier">
  <mat-divider></mat-divider>

  <mat-list>
    <h2>Informations Générales</h2>
    <mat-list-item>
      <p class="title"> Type Produit : </p> &nbsp; <p class="value">{{data.result.type}}</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> La marque : </p> &nbsp; <p class class="value"> {{data.result.marque}}</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Le fournisseur : </p> &nbsp; <p class="value"> {{data.result.fournisseur.nomf}}  </p>   &nbsp; &nbsp; &nbsp; 
        <button mat-icon-button class="example-icon mb-3" aria-label="Example icon-button with menu icon" type="button" (click)="openDialog2()">
          <mat-icon >visibility</mat-icon>
        </button>
    </mat-list-item>
    <mat-list-item *ngIf="AdminUser === 'procurement'">
      <p class="title"> Le Prix : </p> &nbsp; <p class class="value"> {{data.result.totalprice | number:'3.1-5'}} DA</p>
    </mat-list-item>

    <mat-list-item *ngIf="AdminUser === 'admin'">
      <p class="title"> Le Type du Prix : </p> &nbsp; <p class class="value" style="text-transform: uppercase;"> {{data.result.typeproductprice}} </p>
    </mat-list-item>

    <mat-list-item  *ngIf="AdminUser === 'admin'">
      <p class="title"> Le Prix : 
        <button type="button" (click)="ThePrice()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon *ngIf="!prix">expand_more</mat-icon>
        <mat-icon *ngIf="prix">expand_less</mat-icon>
      </button></p> &nbsp; 
    </mat-list-item>
      
    <mat-list *ngIf="prix && AdminUser === 'admin'" style="position: relative; margin-left : 20%;border-radius:2%;border:solid 0.5px #285393">
        <mat-list-item>
        <p class="sub-title"> Prix en Euro : </p> &nbsp; <p class class="value"> {{data.result.europrice | number:'3.1-5' }} €</p>
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Prix en Dollar : </p> &nbsp; <p class class="value"> {{data.result.dollarprice | number:'3.1-5' }} $</p>
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Prix en Dinar : </p> &nbsp; <p class class="value"> {{data.result.dinarprice | number:'3.1-5'}} DA</p>
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Pourcentage Douane : </p> &nbsp; <p class class="value"> {{data.result.douane }}%</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Frais Douane en Dinar : </p> &nbsp; <p class class="value"> {{data.result.douaneDinar | number:'3.1-5' }} DA</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Pourcentage Frais Divers : </p> &nbsp; <p class class="value"> {{data.result.fraisdivers }}%</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Frais Divers en Dinar : </p> &nbsp; <p class class="value"> {{data.result.fraisdiversDinar | number:'3.1-5' }} DA</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Prix Total : </p> &nbsp; <p class class="value"> {{data.result.totalprice | number:'3.1-5' }} DA</p>        
        </mat-list-item>
    </mat-list>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Informations Essentielles </h2>
    <mat-list-item>
        <p class="title"> Utilisation pour Chambre : </p> &nbsp; <p class="value"> {{data.result.parametres.utilisationchambre}}</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Température Chambre  : </p> &nbsp; <p class="value"> {{data.result.parametres.temperaturech}} C° </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Type EVAP : </p> &nbsp; <p class="value"> {{data.result.parametres.typeevap}} </p>
    </mat-list-item>
  
    <mat-list-item>
        <p class="title"> Puissance Frigorifique : </p> &nbsp; <p class="value"> {{data.result.parametres.puissancef}} KW </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Température d'Evaporation : </p> &nbsp; <p class="value"> {{data.result.parametres.temperatureevaporation}} C° </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Température Extérieure : </p> &nbsp; <p class="value"> {{data.result.parametres.temperatureexterieure}} C° </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Réfrégérant : </p> &nbsp; <p class="value"> {{data.result.parametres.refregerant}}
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

    <mat-list>
    <h2>Circuit Electrique</h2>
    <mat-list-item>
        <p class="title"> Tension d'Alimentation : </p> &nbsp; <p class="value"> {{data.result.parametres.tensionalimentation}} V </p>
      </mat-list-item>
    <mat-list-item>
      <p class="title"> Puissance Electrique Absorbée : </p> &nbsp; <p class="value"> {{data.result.parametres.puissanceelectriqueabsorbee}} KW </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Courant Nominal : </p> &nbsp; <p class="value"> {{data.result.parametres.courantnominal}} A</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Dialogue GTC : </p> &nbsp; <p class="value"> {{data.result.parametres.dialoguegtc}} </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Niveau de Puissance Acoustique : </p> &nbsp; <p class="value"> {{data.result.parametres.puissanceacoustique}} LwA</p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Autres</h2>
    <mat-list-item *ngIf="data.result.parametres.classenergitique">
        <p class="title"> Classe Energitique : </p> &nbsp; <p class="value"> {{data.result.parametres.classenergitique}}
        </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Certification : </p> &nbsp; <p class="value">{{data.result.parametres.certification}} </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Date de Création : </p> &nbsp; <p class="value">{{data.result.date_creation | date:'medium'}} </p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

</mat-dialog-content>



<!--
  The Modification form
-->
<form [formGroup]="formGroup" (ngSubmit)="valider()">
<mat-dialog-content *ngIf="modifier">
  <h2>Informations Générales</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="text" placeholder="Code Produit : " formControlName="codep" required>
        <mat-error>
          Veuillez choisir un code produit valide
        </mat-error>
        </mat-form-field>
       </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="text" placeholder="Type Produit : " formControlName="type" required>
        <mat-error>
          Veuillez choisir un type produit valide
        </mat-error>
        </mat-form-field>
       </div>
    </mat-list-item>
    <mat-list-item class="mt-2">
     <div formGroupName="fournisseur" class="col">
        <mat-form-field appearance="fill" style="width:auto;height:auto;color:#283593">
          <mat-label>Le Fournisseur</mat-label>
          <mat-select formControlName="id" (selectionChange)="fournisseurchoisis()" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let fourni of fournisseurs" [value]="fourni.id">
              {{fourni.nomf}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formGroup.value.fournisseur.id">Veuillez choisir un fournisseur</mat-error>
        </mat-form-field>
        </div>
      <div  class="col">
      <mat-form-field appearance="fill" class="col" style="width:auto;height:auto;color:#283593" >
          <mat-label>La Marque</mat-label>
          <mat-select formControlName="marque" (selectionChange)="marquechoisis()" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let mark of marques" [value]="mark">
              {{mark}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      </div>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
  <div formGroupName="parametres">
  <h2>Informations Essentielles </h2>
  <mat-list>
    <mat-list-item>
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6"> Utilisation Pour Chambre : *</mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="utilisationchambre" required>
                <mat-radio-button value="positive">Positive</mat-radio-button>&nbsp;
                <mat-radio-button value="negative">Négative</mat-radio-button>&nbsp;  
              </mat-radio-group>&nbsp;&nbsp;&nbsp;  
            <mat-error *ngIf="!formGroup.value.parametres.utilisationchambre">Ce champ est obligatoire</mat-error>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="temperature Chambre [C°] : " formControlName="temperaturech" required>
              <mat-error> Veuillez choisir la Température de la Chambre </mat-error>
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
                <input matInput type="text" placeholder="Type Evaporateur : " formControlName="typeevap" required>
                <mat-error>
                  Veuillez choisir le Type de l'Evaporateur
                </mat-error>
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
                <input matInput type="number" placeholder="Puissance Frigorifique [KW] : " formControlName="puissancef" required>
                <mat-error>
                  Veuillez choisir la Puissance Frigorifique
                </mat-error>
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
                <input matInput type="number" placeholder="Temperature d'Evaporation[C°] : " formControlName="temperatureevaporation" required>
                <mat-error>
                  Veuillez choisir la Temperature d'Evaporation
                </mat-error>
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
                <input matInput type="number" placeholder="Temperature Extérieure [C°] : " formControlName="temperatureexterieure" required>
                <mat-error>
                  Veuillez choisir la Temperature Extérieure
                </mat-error>
            </mat-form-field>
        </div>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
      <h2>Circuit Electrique</h2>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
            <input matInput type="number" placeholder="Tension d'Alimentation [V] : " formControlName="tensionalimentation" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Puissance Absorbée Max [KW] : " formControlName="puissanceelectriqueabsorbee" >
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Courant Nominal [A] : " formControlName="courantnominal" required>
              <mat-error> Veuillez choisir le Courant Nominal </mat-error>
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6">Dialogue GTC : </mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="dialoguegtc">
                <mat-radio-button value="avec"> Avec </mat-radio-button>&nbsp;
                <mat-radio-button value="sans"> Sans </mat-radio-button>
              </mat-radio-group>&nbsp;&nbsp;&nbsp;
              <mat-error *ngIf="!formGroup.value.parametres.dialoguegtc">Ce champ est obligatoire
              </mat-error>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Niveau de Puissance Acoustique [LwA] : " formControlName="puissanceacoustique" >
            </mat-form-field>
        </div>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>

  <h2>Autres</h2>
  <mat-list>
    <mat-list-item>
        <div class="row mt-2">
          <mat-label style="color: #283593;"> Classe Energitique : </mat-label> &nbsp; &nbsp;
          <mat-radio-group formControlName="classenergitique">
            <mat-radio-button  value="A++.A+ et A">A++.A+ et A</mat-radio-button>&nbsp;
            <mat-radio-button  value="B">B </mat-radio-button>&nbsp;
            <mat-radio-button  value="C">C</mat-radio-button>&nbsp;
            <mat-radio-button value="D à G">D à G</mat-radio-button> 
          </mat-radio-group>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row mt-2">
          <mat-label style="color: #283593;">Certification  : </mat-label>&nbsp; &nbsp;
          <mat-radio-group formControlName="certification">
            <mat-radio-button value="ISO" (change)="radiocertifiso()">ISO</mat-radio-button>&nbsp;
            <mat-radio-button  [checked]="certifautreradio" (change)="radiocertifautre()">Autre</mat-radio-button> 
          </mat-radio-group>
          <mat-form-field *ngIf="certifautreradio" class="full-width-input m-2 col w-auto">
            <input matInput type="text" placeholder="Certification : " formControlName="certification" required>
            <mat-error>
              Veuillez préciser la certification
            </mat-error>
          </mat-form-field>
        </div>
      </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
  
</div>

</mat-dialog-content>






<mat-dialog-actions align="end">
  <div *ngIf="!modifier && AdminUser === 'procurement'">
  <!-- <button mat-raised-button type="button" id="supprimer" (click)="supprimer()">Supprimer</button> -->
  <button mat-button type="button" id="modifier" (click)="modifiertrue()">Modifier</button>
  <button type=button mat-button id="supprimer"   (click)="openDialog()">Supprimer</button>

  </div>
  <div *ngIf="modifier && AdminUser === 'procurement'">
  <button mat-button type="submit" [mat-dialog-close]="sendmodifier" id="valider" cdkFocusInitial> Valider</button>
  <button mat-button type="button" id="annuler"  (click)="annulermodification()">Annuler</button>

  </div>
  <div *ngIf=" AdminUser === 'admin'">
    <button mat-button type="button" id="ok" [mat-dialog-close]="true" cdfFocusInitial> OK </button>
  </div>
</mat-dialog-actions>
</form>
