.mat-toolbar{
    background-color: #283593;
    color : white
 }
 #titre{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  font-size : 25px;
  font-weight: 700;
 }
 .example-spacer {
    flex: 1 1 auto;
  }

  section {
    margin-left: 2rem;
    display: table;
  }
  .example-button-row {
    display: table-cell;
    width: 490px;
  }  
  .example-button-row .mat-button {  
    margin: 12px 12px 12px 0;
    padding: 12px;
    font-size: 16px;
  }
  .example-button-row .mat-button:hover {  
    color: #5f5fc4;
    }
a.active{
      color: #5f5fc4;  
  }