<app-nav>
<div class="m-4">
 
<div class="center-screen">

    <div class="card card-body" style="background-color:  white; width: 50%; ">

            <mat-form-field>
              <mat-select [formControl]="controleCategorie" placeholder="Categories" (selectionChange)="catego()" #singleSelect>
                <mat-option>
                  <ngx-mat-select-search [formControl]="FiltreCategorie"
                                         placeholderLabel ="Recherche"
                                         noEntriesFoundLabel = "Catégorie n'existe pas"
                                         ngxMatSelectSearchClear>                                           >
                                        </ngx-mat-select-search>
                </mat-option>
            
                <mat-option *ngFor="let categorie of CategoriesFiltrer | async" [value]="categorie">
                  {{categorie}}
                </mat-option>
              </mat-select>
            </mat-form-field>
     

    </div>  
</div>


    <div class="mt-5" *ngIf="categorie == 'GEG' " >
        <app-gegindex></app-gegindex>
    </div>
    <div class="mt-5" *ngIf="categorie.toLocaleLowerCase() == 'CTA'.toLocaleLowerCase() " >
      <app-ctaindex></app-ctaindex>
    </div>
    <div class="mt-5" *ngIf="categorie.toLocaleLowerCase() == 'Ventilo Convecteur'.toLocaleLowerCase() " >
      <app-vcindex></app-vcindex>
    </div>
    <div class="mt-5" *ngIf="categorie.toLocaleLowerCase() == 'Armoire de précision'.toLocaleLowerCase() " >
      <app-apindex></app-apindex>
    </div>
    <div class="mt-5" *ngIf="categorie.toLocaleLowerCase() == 'Groupe Frigorifique'.toLocaleLowerCase() " >
      <app-gfindex></app-gfindex>
    </div>
    <div class="mt-5" *ngIf="categorie.toLocaleLowerCase() == 'Chaudière'.toLocaleLowerCase() " >
      <app-chdindex></app-chdindex>
    </div>
    <div class="mt-5" *ngIf="categorie.toLocaleLowerCase() == 'Roof Top'.toLocaleLowerCase() " >
      <app-rtindex></app-rtindex>
    </div>
    <div class="mt-5" *ngIf="categorie.toLocaleLowerCase() == 'Pompe'.toLocaleLowerCase() " >
      <app-pompeindex></app-pompeindex>
    </div>
    <div class="mt-5" *ngIf="categorie.toLocaleLowerCase() == 'Evaporateur'.toLocaleLowerCase() " >
      <app-evapindex></app-evapindex>
    </div>


</div>
</app-nav>