

<h1 mat-dialog-title>Produit {{data.result.codep}} <button  mat-button type="button" mat-dialog-close id="fermer"><mat-icon>close</mat-icon></button> </h1>

<mat-dialog-content id="container" *ngIf="!modifier">
  <mat-divider></mat-divider>

  <mat-list>
    <h2>Informations Générales</h2>
    <mat-list-item>
      <p class="title"> Type Produit : </p> &nbsp; <p class="value">{{data.result.type}}</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> La marque : </p> &nbsp; <p class class="value"> {{data.result.marque}}</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Le fournisseur : </p> &nbsp; <p class="value"> {{data.result.fournisseur.nomf}}  </p>   &nbsp; &nbsp; &nbsp; 
        <button mat-icon-button class="example-icon mb-3" aria-label="Example icon-button with menu icon" type="button" (click)="openDialog2()">
          <mat-icon >visibility</mat-icon>
        </button>
    </mat-list-item>
    <mat-list-item *ngIf="AdminUser === 'procurement'">
      <p class="title"> Le Prix : </p> &nbsp; <p class class="value"> {{data.result.totalprice | number:'3.1-5'}} DA</p>
    </mat-list-item>

    <mat-list-item *ngIf="AdminUser === 'admin'">
      <p class="title"> Le Type du Prix : </p> &nbsp; <p class class="value" style="text-transform: uppercase;"> {{data.result.typeproductprice}} </p>
    </mat-list-item>

    <mat-list-item  *ngIf="AdminUser === 'admin'">
      <p class="title"> Le Prix : 
        <button type="button" (click)="ThePrice()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon *ngIf="!prix">expand_more</mat-icon>
        <mat-icon *ngIf="prix">expand_less</mat-icon>
      </button></p> &nbsp; 
    </mat-list-item>
      
    <mat-list *ngIf="prix && AdminUser === 'admin'" style="position: relative; margin-left : 20%;border-radius:2%;border:solid 0.5px #285393">
        <mat-list-item>
        <p class="sub-title"> Prix en Euro : </p> &nbsp; <p class class="value"> {{data.result.europrice | number:'3.1-5' }} €</p>
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Prix en Dollar : </p> &nbsp; <p class class="value"> {{data.result.dollarprice | number:'3.1-5' }} $</p>
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Prix en Dinar : </p> &nbsp; <p class class="value"> {{data.result.dinarprice | number:'3.1-5'}} DA</p>
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Pourcentage Douane : </p> &nbsp; <p class class="value"> {{data.result.douane }}%</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Frais Douane en Dinar : </p> &nbsp; <p class class="value"> {{data.result.douaneDinar | number:'3.1-5' }} DA</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Pourcentage Frais Divers : </p> &nbsp; <p class class="value"> {{data.result.fraisdivers }}%</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Frais Divers en Dinar : </p> &nbsp; <p class class="value"> {{data.result.fraisdiversDinar | number:'3.1-5' }} DA</p>        
        </mat-list-item>
        <mat-list-item>
          <p class="sub-title"> Prix Total : </p> &nbsp; <p class class="value"> {{data.result.totalprice | number:'3.1-5' }} DA</p>        
        </mat-list-item>
    </mat-list>
  </mat-list>

  <mat-divider></mat-divider>
  <mat-list>
  <h2>Informations Générales</h2>
    <mat-list-item>
      <p class="title"> Régulation : </p> &nbsp; <p class="value">{{data.result.parametres.regulation}}</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Montage : </p> &nbsp; <p class="value">{{data.result.parametres.montage}}</p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
  
  <mat-list>
    <h2>Section Ventilation</h2>
    <mat-list-item *ngIf="data.result.parametres.ventilation">
      <p class="title"> Ventilation : </p> &nbsp; <p class="value"> {{data.result.parametres.ventilation}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.nombreventilateur" >
        <p class="title"> Nombre Ventilateur : </p> &nbsp; <p class="value"> {{data.result.parametres.nombreventilateur}} </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Débit d'air : </p> &nbsp; <p class="value"> {{data.result.parametres.debitair}} m3/h</p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Pression disponible pour la gaine : </p> &nbsp; <p class="value"> {{data.result.parametres.pressiondisponiblegaine}} Pa</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.rendementventilateur">
        <p class="title"> Rendement ventilateur : </p> &nbsp; <p class="value"> {{data.result.parametres.rendementventilateur}} % </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.puissanceelectriqueabsorbe">
        <p class="title"> Puissance electrique absorbée  : </p> &nbsp; <p class="value"> {{data.result.parametres.puissanceelectriqueabsorbe}} KW</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.intensitenominale">
        <p class="title"> Intensité Nominale : </p> &nbsp; <p class="value"> {{data.result.parametres.intensitenominale}} A </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title" *ngIf="data.result.parametres.intensitedemarrage"> Intensité Démarrage : </p> &nbsp; <p class="value"> {{data.result.parametres.intensitedemarrage}} A </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Tension Nominale :</p> &nbsp; <p class="value">
          [{{data.result.parametres.tensionnominalevoltage}}V -
          {{data.result.parametres.tensionnominalephases}}Ph -
          {{data.result.parametres.tensionnominalehertz}}Hz] </p>
      </mat-list-item>
    <mat-list-item>
        <p class="title" *ngIf="data.result.parametres.protectionthermique"> Protection thermique : </p> &nbsp; <p class="value"> {{data.result.parametres.protectionthermique}} </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Accès le sens de l'air  : </p> &nbsp; <p class="value"> {{data.result.parametres.sensairventilation }} </p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Section Filtration</h2>
    <mat-list-item>
        <p class="title">La Préfiltration / Nombre Préfiltration : </p> &nbsp; <p class="value">
          {{data.result.parametres.prefiltration}} / {{data.result.parametres.nombreprefiltration}} </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title">La Filtration / Nombre Filtration : </p> &nbsp; <p class="value">
          {{data.result.parametres.filtration}} / {{data.result.parametres.nombrefiltration}} </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Perte de Charge : </p> &nbsp; <p class="value"> {{data.result.parametres.pertechargefiltration}} Pa </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.prisepression">
      <p class="title"> Prises de Pression : </p> &nbsp; <p class="value"> {{data.result.parametres.prisepression}}
      </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Sens d'Air de Filtration : </p> &nbsp; <p class="value"> {{data.result.parametres.sensairfiltration}}
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.pasdesaillettes">
      <p class="title"> Pas des Aillettes : </p> &nbsp; <p class="value"> {{data.result.parametres.pasdesaillettes}} mm</p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Section Batterie</h2>
    <mat-list-item>
      <p class="title"> Batterie : </p> &nbsp; <p class="value"> {{data.result.parametres.batterie}}</p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Type Batterie : </p> &nbsp; <p class="value"> {{data.result.parametres.typebatterie}} </p>
    </mat-list-item>
    <mat-list-item> 
        <p class="title"> Batterie Electrique Chaude : </p> &nbsp; <p class="value"> {{data.result.parametres.batterieelectriquechaude}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.puissancecalorifiquebatterie"> 
        <p class="title"> Puissance Calorifique : </p> &nbsp; <p class="value"> {{data.result.parametres.puissancecalorifiquebatterie}} KW</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.puissancefrigorifiquebatterie"> 
        <p class="title"> Puissance Frigorifique : </p> &nbsp; <p class="value"> {{data.result.parametres.puissancefrigorifiquebatterie}} KW</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.regimeeautempentree || data.result.parametres.regimeeautempsortie">
        <p class="title">Régime D'eau : Température Entrée / Sortie  : </p> &nbsp; <p class="value">
          {{data.result.parametres.regimeeautempentree}} C° / {{data.result.parametres.regimeeautempsortie}} C° </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.temperatureentreeair || data.result.parametres.humiditeentreeair">
        <p class="title"> Température Entrée :  Air / Humidité  : </p> &nbsp; <p class="value">
          {{data.result.parametres.temperatureentreeair}} C° / {{data.result.parametres.humiditeentreeair}} % </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.temperaturesortieair || data.result.parametres.humiditesortieair">
        <p class="title"> Température Sortie :  Air / Humidité  : </p> &nbsp; <p class="value">
          {{data.result.parametres.temperaturesortieair}} C° / {{data.result.parametres.humiditesortieair}} % </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.debitfluide">
        <p class="title"> Débit Fluide : </p> &nbsp; <p class="value"> {{data.result.parametres.debitfluide}} m3/h</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.pertechargebatterie">
        <p class="title"> Perte de Charges : </p> &nbsp; <p class="value"> {{data.result.parametres.pertechargebatterie}} Pa</p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Section Mélange</h2>
    <mat-list-item>
      <p class="title"> Registre : </p> &nbsp; <p class="value"> {{data.result.parametres.typeregistremelange}} </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Air du Registre : </p> &nbsp; <p class="value"> {{data.result.parametres.airregistremelange}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.temperaturemelange">
      <p class="title"> Température : </p> &nbsp; <p class="value"> {{data.result.parametres.temperaturemelange}} C° </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Carrosserie : </p> &nbsp; <p class="value"> {{data.result.parametres.carrosseriemelange}} </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Epaisseur de la Carrosserie : </p> &nbsp; <p class="value"> {{data.result.parametres.epaisseurcarrosseriemelange}} mm</p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.peintemelange">
        <p class="title"> Peinte : </p> &nbsp; <p class="value"> {{data.result.parametres.peintemelange}} </p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <mat-list>
    <h2>Autres</h2>
    <mat-list-item>
      <p class="title"> Régulation : </p> &nbsp; <p class="value"> {{data.result.parametres.regulation}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.montageexterieur">
      <p class="title"> Montage Extérieur : </p> &nbsp; <p class="value"> {{data.result.parametres.montageexterieur}} </p>
    </mat-list-item>
    <mat-list-item *ngIf="data.result.parametres.classenergitique">
        <p class="title"> Classe Energitique : </p> &nbsp; <p class="value"> {{data.result.parametres.classenergitique}}
        </p>
    </mat-list-item>
    <mat-list-item>
        <p class="title"> Certification : </p> &nbsp; <p class="value">{{data.result.parametres.certification}} </p>
    </mat-list-item>
    <mat-list-item>
      <p class="title"> Date de Création : </p> &nbsp; <p class="value">{{data.result.date_creation | date:'medium'}} </p>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

</mat-dialog-content>



<!--
  The Modification form
-->
<form [formGroup]="formGroup" (ngSubmit)="valider()">
<mat-dialog-content *ngIf="modifier">
  <h2>Informations Générales</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="text" placeholder="Code Produit : " formControlName="codep" required>
        <mat-error>
          Veuillez choisir un code produit valide
        </mat-error>
        </mat-form-field>
       </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
        <input matInput type="text" placeholder="Type Produit : " formControlName="type" >
        
        </mat-form-field>
       </div>
    </mat-list-item>
    <mat-list-item class="mt-2">
     <div formGroupName="fournisseur" class="col">
        <mat-form-field appearance="fill" style="width:auto;height:auto;color:#283593">
          <mat-label>Le Fournisseur</mat-label>
          <mat-select formControlName="id" (selectionChange)="fournisseurchoisis()" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let fourni of fournisseurs" [value]="fourni.id">
              {{fourni.nomf}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formGroup.value.fournisseur.id">Veuillez choisir un fournisseur</mat-error>
        </mat-form-field>
        </div>
      <div  class="col">
      <mat-form-field appearance="fill" class="col" style="width:auto;height:auto;color:#283593" >
          <mat-label>La Marque</mat-label>
          <mat-select formControlName="marque" (selectionChange)="marquechoisis()" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let mark of marques" [value]="mark">
              {{mark}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!formGroup.value.marque">Veuillez choisir une marque</mat-error>

      </mat-form-field>
      </div>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <div formGroupName="parametres">
  <h2>Informations Essentielles</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #182628;" class="h6"> Régulation : *</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-group formControlName="regulation">
            <mat-radio-button value="avec regulation">Avec Regulation</mat-radio-button>&nbsp;
            <mat-radio-button value="sans regulation">Sans Regulation</mat-radio-button>&nbsp;
          </mat-radio-group>&nbsp;&nbsp;&nbsp;
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row m-2">
        <mat-label style="color: #182628;" class="h6"> Montage : *</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-group formControlName="montage">
            <mat-radio-button value="interieur">Intérieur</mat-radio-button>&nbsp;
            <mat-radio-button value="exterieur">Extérieur</mat-radio-button>
          </mat-radio-group>&nbsp;&nbsp;&nbsp;  
      </div>
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
  
  <h2>Section Ventilation</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #182628;" class="h6"> Ventilation : *</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-group formControlName="ventilation" >
            <mat-radio-button value="action">Action</mat-radio-button>&nbsp;
            <mat-radio-button value="reaction">Reaction</mat-radio-button>
          </mat-radio-group>&nbsp;&nbsp;&nbsp;  
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Nombre Ventilateur : " formControlName="nombreventilateur"
            >
        </mat-form-field>
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Débit d'air [m3/h] : " formControlName="debitair"
            >
        
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Pression disponible pour gaine [Pa] : " formControlName="pressiondisponiblegaine"
            >
        
        </mat-form-field>
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Rendement Ventilateur [%] : " formControlName="rendementventilateur"
            >
        
        </mat-form-field>
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Puissance Electrique Absorbée [KW] : " formControlName="puissanceelectriqueabsorbe"
            >
        
        </mat-form-field>
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Intensité Nominale [A] : " formControlName="intensitenominale"
            >
       
        </mat-form-field>
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Intensité de Demarrage [A] : " formControlName="intensitedemarrage">
        </mat-form-field>
      </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
          <mat-label style="color: #283593;" class="h6 col-3 mt-2"> Tension Nominale : </mat-label>
            <mat-form-field class="full-width-input col-3">
            <input matInput type="number" placeholder="Voltage : " formControlName="tensionnominalevoltage">
            
            </mat-form-field>
  
            <mat-form-field class="full-width-input col-3">
            <input matInput type="number" placeholder="Phases : " formControlName="tensionnominalephases" >
            
            </mat-form-field>
  
            <mat-form-field class="full-width-input col-3">
            <input matInput type="number" placeholder="Hertz : " formControlName="tensionnominalehertz" >
            
            </mat-form-field>
          </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row mt-2">
          <mat-form-field class="full-width-input m-2">
            <input matInput type="text" placeholder="Protection Thermique : " formControlName="protectionthermique"
              >              
          </mat-form-field>
      </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row mt-2">
          <mat-label style="color: #182628;" class="h6"> Accès le sens de l'air  : *</mat-label>&nbsp;&nbsp;&nbsp;
            <mat-radio-group formControlName="sensairventilation" >
              <mat-radio-button value="droite">Droite</mat-radio-button>&nbsp;
              <mat-radio-button value="gauche">Gauche</mat-radio-button>
            </mat-radio-group>&nbsp;&nbsp;&nbsp;  
      </div>
      </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>

  <h2>Section Filtration</h2>
  <mat-list>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input col-6">
              <input matInput type="text" oninput="this.value = this.value.toUpperCase()" placeholder="Prefiltration : " formControlName="prefiltration" >
            
            </mat-form-field>
            <mat-form-field class="full-width-input col-6">
              <input matInput type="number" placeholder="Nombre de Préfiltration : " formControlName="nombreprefiltration"
                >
             
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-form-field class="full-width-input col-6">
              <input matInput type="text" oninput="this.value = this.value.toUpperCase()" placeholder="Filtration : " formControlName="filtration">
              
            </mat-form-field>
            <mat-form-field class="full-width-input col-6">
              <input matInput type="number" placeholder="Nombre de Filtration : " formControlName="nombrefiltration"
                >
            
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field  class="full-width-input m-2">
          <input matInput type="number" placeholder="Perte de Charge [Pa] : " formControlName="pertechargefiltration"
            >
         
        </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #182628;" class="h6"> Avec Prises de Pressions ? *</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-group formControlName="prisepression" >
            <mat-radio-button value="oui">Oui</mat-radio-button>&nbsp;
            <mat-radio-button value="non">Non</mat-radio-button>
          </mat-radio-group>&nbsp;&nbsp;&nbsp;  
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #182628;" class="h6"> Accès le sens de l'air  : *</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-group formControlName="sensairfiltration">
            <mat-radio-button value="face droite"> Face Droite</mat-radio-button>&nbsp;
            <mat-radio-button value="face gauche"> Face Gauche</mat-radio-button>
          </mat-radio-group>&nbsp;&nbsp;&nbsp;  
       
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field  class="full-width-input m-2">
          <input matInput type="number" placeholder="Pas des Aillettes [mm] : " formControlName="pasdesaillettes">
        </mat-form-field>
    </div>

    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
  
   
  <h2>Section Batterie</h2>
  <mat-list>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #182628;" class="h6"> Batterie : *</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-group formControlName="batterie">
            <mat-radio-button value="4 tubes">4 Tubes</mat-radio-button>&nbsp;
            <mat-radio-button value="2 tubes">2 Tubes</mat-radio-button>
          </mat-radio-group>&nbsp;&nbsp;&nbsp;
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #182628;" class="h6"> Type Batterie : *</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-group formControlName="typebatterie">
            <mat-radio-button value="froide">Froide</mat-radio-button>&nbsp;
            <mat-radio-button value="chaude">Chaude</mat-radio-button>&nbsp;
            <mat-radio-button value="mixte">Mixte</mat-radio-button>
          </mat-radio-group>&nbsp;&nbsp;&nbsp;
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #182628;" class="h6"> Avec Batterie Electrique Chaude ? *</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-group formControlName="batterieelectriquechaude">
            <mat-radio-button value="oui">Oui</mat-radio-button>&nbsp;
            <mat-radio-button value="non">Non</mat-radio-button>&nbsp;
          </mat-radio-group>&nbsp;&nbsp;&nbsp;
         
    </div>
    </mat-list-item>
    <mat-list-item *ngIf="formGroup.value.parametres.typebatterie === 'froide' ||
                      formGroup.value.parametres.typebatterie === 'mixte'">
        <div class="row mt-2" >
                    <mat-form-field class="full-width-input m-2">
                      <input matInput type="number" placeholder="Puissance Frigorifique [KW] : " formControlName="puissancefrigorifiquebatterie"
                        >
                    
                    </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item *ngIf="formGroup.value.parametres.typebatterie === 'chaude' ||
                          formGroup.value.parametres.typebatterie === 'mixte'                          ">
        <div class="row mt-2">
                    <mat-form-field class="full-width-input m-2">
                      <input matInput type="number" placeholder="Puissance Calorifique [KW] : " formControlName="puissancecalorifiquebatterie"
                        >
                     
                    </mat-form-field>
                </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Température Régime Eau (Entrée) [C°] : " formControlName="regimeeautempentree"
          >
        </mat-form-field>
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Température Régime Eau (Sortie) [C°] : " formControlName="regimeeautempsortie"
            >
        </mat-form-field>
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Température d'Entrée d'Air [C°] : " formControlName="temperatureentreeair">
        </mat-form-field>

        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Humidité d'Entrée d'Air [%] : " formControlName="humiditeentreeair"
            >
          
        </mat-form-field>
  </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Température de Sortie d'Air [C°] : " formControlName="temperaturesortieair">
        </mat-form-field>

        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Humidité de sortie d'Air [%] : " formControlName="humiditesortieair"
            >
        </mat-form-field>
    </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Débit Fluide [m3/h] : " formControlName="debitfluide"
            >
        </mat-form-field>
    </div>

    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Perte de Charges [Pa] : " formControlName="pertechargebatterie"
            >
        </mat-form-field>
    </div>
    </mat-list-item>
  </mat-list>
   

  <mat-divider></mat-divider>

  <h2>Section Mélange</h2>
  <mat-list>
    <mat-list-item>
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6"> Registre :</mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="typeregistremelange">
                <mat-radio-button value="manuel">Manuel</mat-radio-button>&nbsp;
                <mat-radio-button value="motorisable">Motorisable</mat-radio-button>&nbsp;
              </mat-radio-group>&nbsp;&nbsp;&nbsp;
        </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #182628;" class="h6"> Type Mélange :</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-group formControlName="typemelange">
            <mat-radio-button value="standard">Standard</mat-radio-button>&nbsp;
            <mat-radio-button value="etanche">Etanche</mat-radio-button>&nbsp;
          </mat-radio-group>&nbsp;&nbsp;&nbsp;
      </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6"> Air Mélange :</mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="airregistremelange">
                <mat-radio-button value="air neuf">Air Neuf</mat-radio-button>&nbsp;
                <mat-radio-button value="air recyclé">Air Recyclé</mat-radio-button>&nbsp;
              </mat-radio-group>&nbsp;&nbsp;&nbsp;
        </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-form-field class="full-width-input m-2">
          <input matInput type="number" placeholder="Température du mélange [C°] : " formControlName="temperaturemelange">
        </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6"> Carrosserie :</mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="carrosseriemelange">
                <mat-radio-button value="simple peau">Simple Peau</mat-radio-button>&nbsp;
                <mat-radio-button value="double peau">Double Peau</mat-radio-button>&nbsp;
              </mat-radio-group>&nbsp;&nbsp;&nbsp;
             
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2" *ngIf="formGroup.value.parametres.carrosseriemelange">
            <mat-form-field class="full-width-input m-2">
              <input matInput type="number" placeholder="Epaisseur Carrosserie [mm] : " formControlName="epaisseurcarrosseriemelange">
             
            </mat-form-field>
        </div>
    </mat-list-item>
    <mat-list-item>
      <div class="row mt-2">
        <mat-label style="color: #182628;" class="h6"> Peinte :</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-group formControlName="peintemelange">
            <mat-radio-button value="standard">Standard</mat-radio-button>&nbsp;
            <mat-radio-button value="ral">RAL</mat-radio-button>&nbsp;
          </mat-radio-group>&nbsp;&nbsp;&nbsp;
    </div>
    </mat-list-item>
    
  </mat-list>
  <mat-divider></mat-divider>

  <h2>Autres</h2>
  <mat-list>
    <mat-list-item *ngIf="data.result.parametres.montageexterieur">
        <div class="row mt-2">
            <mat-label style="color: #182628;" class="h6">Montage extérieure : </mat-label>&nbsp;&nbsp;&nbsp;
              <mat-radio-group formControlName="montageexterieur">
                <mat-radio-button value="Capeau para-pluie à l'aspiration">Capeau para-pluie à l'aspiration  </mat-radio-button>&nbsp;
                <mat-radio-button value="Toitrure">Toitrure </mat-radio-button>&nbsp;
              </mat-radio-group>&nbsp;&nbsp;&nbsp;
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="row mt-2">
          <mat-label style="color: #283593;"> Classe Energitique : </mat-label> &nbsp; &nbsp;
          <mat-radio-group formControlName="classenergitique">
            <mat-radio-button  value="A++.A+ et A">A++.A+ et A</mat-radio-button>&nbsp;
            <mat-radio-button  value="B">B </mat-radio-button>&nbsp;
            <mat-radio-button  value="C">C</mat-radio-button>&nbsp;
            <mat-radio-button value="D à G">D à G</mat-radio-button> 
          </mat-radio-group>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row mt-2">
          <mat-label style="color: #283593;">Certification  : </mat-label>&nbsp; &nbsp;
          <mat-radio-group formControlName="certification">
            <mat-radio-button value="ISO" (change)="radiocertifiso()">ISO</mat-radio-button>&nbsp;
            <mat-radio-button  [checked]="certifautreradio" (change)="radiocertifautre()">Autre</mat-radio-button> 
          </mat-radio-group>
          <mat-form-field *ngIf="certifautreradio" class="full-width-input m-2 col w-auto">
            <input matInput type="text" placeholder="Certification : " formControlName="certification" >
          
          </mat-form-field>
        </div>
      </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
  
</div>

</mat-dialog-content>






<mat-dialog-actions align="end">
  <div *ngIf="!modifier && AdminUser === 'procurement'">
  <!-- <button mat-raised-button type="button" id="supprimer" (click)="supprimer()">Supprimer</button> -->
  <button mat-button type="button" id="modifier" (click)="modifiertrue()">Modifier</button>
  <button type=button mat-button id="supprimer"   (click)="openDialog()">Supprimer</button>

  </div>
  <div *ngIf="modifier && AdminUser === 'procurement'">
  <button mat-button type="submit" [mat-dialog-close]="sendmodifier" id="valider" cdkFocusInitial> Valider</button>
  <button mat-button type="button" id="annuler"  (click)="annulermodification()">Annuler</button>

  </div>
  <div *ngIf=" AdminUser === 'admin'">
    <button mat-button type="button" id="ok" [mat-dialog-close]="true" cdfFocusInitial> OK </button>
  </div>
</mat-dialog-actions>
</form>
