
    
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="datasource" matSort >
                <!-- ID Column -->
                <ng-container matColumnDef="CodeRT">
                <th mat-header-cell *matHeaderCellDef > Code Produit </th>
                <td mat-cell *matCellDef="let row"> {{row.codep}} </td>
                </ng-container>
    
                <!-- Progress Column -->
                <ng-container matColumnDef="FournisseurRT">
                <th mat-header-cell *matHeaderCellDef > Fournisseur </th>
                <td mat-cell *matCellDef="let row"> {{row.fournisseur.nomf}} </td>
                </ng-container>
    
                <!-- Name Column -->
                <ng-container matColumnDef="MarqueRT">
                <th mat-header-cell *matHeaderCellDef > Marque </th>
                <td mat-cell *matCellDef="let row"> {{row.marque}} </td>
                </ng-container>
    
                <!-- Color Column -->
                <ng-container matColumnDef="TypeRT">
                <th mat-header-cell *matHeaderCellDef > Type RT </th>
                <td mat-cell *matCellDef="let row"> {{row.parametres.typert}}</td>
                </ng-container>

                 <!-- Color Column -->
                <ng-container matColumnDef="PuissanceFRT" >
                <th mat-header-cell *matHeaderCellDef > Puissance Froide [KW]</th>
                <td mat-cell *matCellDef="let row" style="padding-left:5%;"> {{row.parametres.puissancef}}</td>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="PuissanceCRT">
                <th mat-header-cell *matHeaderCellDef > Puissance Calorifique [KW] </th>
                <td mat-cell *matCellDef="let row"> {{row.parametres.puissancec}}</td>
                </ng-container>
 
              
    
                <!-- Color Column -->
                <ng-container matColumnDef="PrixRT">
                <th mat-header-cell *matHeaderCellDef > Prix DA</th>
                <td mat-cell *matCellDef="let row"  > {{row.totalprice | number:'3.1-5'}}</td>
                </ng-container>
    
                    
                 <!-- Color Column -->
                <ng-container matColumnDef="DetailsRT">
                <th mat-header-cell *matHeaderCellDef > Détails </th>
                <td mat-cell *matCellDef="let row" > <button mat-button (click)="openDialog(row)" color="primary" >Détails</button> </td>
                </ng-container>

                 <!-- Color Column -->
                <ng-container *ngIf="EstimationUser === 'estimation'" matColumnDef="Add">
                    <th mat-header-cell *matHeaderCellDef id="detail"> Ajouter </th>
                    <td mat-cell *matCellDef="let element" id="detail" >  <button mat-button (click)="AddToProducts(element)" color="primary" >Ajouter</button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
           
    
            </table>
        </div>
 
    
        <div class="alert alert-danger alert-dismissible fade show fixed-bottom" style="width:50%;margin-left:25%" *ngIf="Message">
            {{Message}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>